@use "../global" as g;

%__inputFrame {
  height: 45px;
  font-family: g.$ff-oswald;
  cursor: pointer;
  border-radius: 30px;
  border-color: g.$col-707070;
}

.label-to-id {
  min-height: calc(100vh - 472px);
  padding: 30px 0;
  background-color: g.$col-FAFAFA;

  &__inner {
    display: grid;
    gap: 20px;
    align-items: flex-end;
    grid-template-columns: 300px min-content 300px;
    grid-auto-rows: min-content;
    max-width: 900px;
    margin-inline: auto;
  }

  .dataset {
    grid-column: 1/4;
  }

  .between-text {
    width: fit-content;
    font: {
      family: g.$ff-oswald;
      size: 1.8rem;
    }

    color: g.$col-5A5A5A;
    line-height: 45px;
  }

  .label {
    display: block;
    font: {
      family: g.$ff-oswald;
      size: 1.2rem;
    }

    color: g.$col-5A5A5A;
    margin: 0 0 10px;
  }

  .labels {
    grid-column: 1/4;

    &__wrapper {
      display: flex;
      gap: 8px 30px;
      flex-wrap: wrap;
    }
  }

  .checkbox {
    @include g.visuallyHidden;

    + .checkbox-label {
      position: relative;
      font: {
        family: g.$ff-oswald;
        size: 1.4rem;
      }

      cursor: pointer;
      color: g.$col-5A5A5A;
      padding: 0 0 0 33px;
      line-height: 24px;

      &::before,
      &::after {
        position: absolute;
        display: block;
        content: "";
      }

      &::before {
        top: 0;
        left: 0;
        width: 22px;
        height: 22px;
        border-radius: 5px;
        border: 1px solid g.$col-C4C4C4;
        background-color: g.$col-FFF;
      }

      &::after {
        top: 4px;
        left: 4px;
        width: 16px;
        height: 16px;
        opacity: 0;
        border-radius: 2px;
        background-color: g.$col-249EB3;
      }
    }

    &:checked {
      + .checkbox-label {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  .keyword {
    @extend %__inputFrame;
    padding: 0 8px;
    border-width: 1px;
  }

  .threshold {
    @extend %__inputFrame;
    width: 115px;
    padding: 0 20px;
    border-width: 1px;
  }

  .css-lx0s3w-control,
  .css-1u9w31-control {
    @extend %__inputFrame;
  }

  .submit {
    grid-column: 1/4;
    justify-self: flex-end;
    width: min-content;
    height: 45px;
    font: {
      family: g.$ff-hiragino;
      size: 1.2rem;
    }

    color: g.$col-FFF;
    padding: 0 20px;
    border-radius: 15px;
    border: 2px solid g.$col-1A8091;
    background: transparent linear-gradient(180deg, g.$col-46B9CC 0%, g.$col-249EB3 100%) 0 0 no-repeat padding-box;
  }
}
