// font family
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
$ff-noto-sans: "Noto Sans JP";
$ff-oswald: "Oswald";
$ff-hiragino: 'Hiragino Kaku Gothic Pro', 'Meiryo', 'メイリオ', 'ヒラギノ角ゴ ProN', Roboto, Helvetica, Arial, sans-serif;

// color
$col-DFE2E5: #DFE2E5;
$col-E7F0F2: #E7F0F2;
$col-DCF3F1: #DCF3F1;
$col-46B9CC: #46B9CC;
$col-249EB3: #249EB3;
$col-1A8091: #1A8091;
$col-0366D6: #0366D6;
$col-005CC5: #005CC5;
$col-032F62: #032F62;

$col-F0FFF4: #F0FFF4;
$green01: #B1DD6A;
$col-B1DD6A: #B1DD6A;
$col-22863A: #22863A;

$col-FFEBDA: #FFEBDA;
$col-FFEEF0: #FFEEF0;
$col-FFEA7F: #FFEA7F;
$col-735C0F: #735C0F;

$orange01: #F7A157;
$col-F7A157: #F7A157;
$col-E36209: #E36209;

$col-D73A49: #D73A49;
$col-B31D28: #B31D28;

$purple01: #CD87F2;
$col-CD87F2: #CD87F2;
$col-6F42C1: #6F42C1;

$col-EAECEF: #EAECEF;
$col-F6F8FA: #F6F8FA;
$col-FAFBFC: #FAFBFC;
$col-FAFAFA: #FAFAFA;
$col-EEE:    #EEE;
$col-E0E0E0: #E0E0E0;
$col-E7F0F2: #E7F0F2;
$col-E1E4E8: #E1E4E8;
$col-EDEDED: #EDEDED;
$col-D1D5DA: #D1D5DA;
$col-D5D5D5: #D5D5D5;
$col-C4C4C4: #C4C4C4;
$col-C6CBD1: #C6CBD1;
$col-C6C6C6: #C6C6C6;
$col-959DA5: #959DA5;
$col-7C7C7C: #7C7C7C;
$col-707070: #707070;
$col-6A737D: #6A737D;
$col-586069: #586069;
$col-5A5A5A: #5A5A5A;
$col-5C5C5C: #5C5C5C;
$col-444:    #444;
$col-444D56: #444d56;
$col-3C3C3C: #3C3C3C;
$col-24292E: #24292E;
$col-1B1F23: #1B1F23;

$col-FFF:   #FFF;
$col-000:   #000;
