{
  "openapi": "3.0.0",
  "info": {
    "title": "TogoID API",
    "version": "2.1.0"
  },
  "servers": [
    {
      "url": "https://api.togoid.dbcls.jp"
    }
  ],
  "tags": [
    {
      "name": "convert"
    },
    {
      "name": "count"
    },
    {
      "name": "config"
    }
  ],
  "paths": {
    "/convert": {
      "get": {
        "tags": [
          "convert"
        ],
        "summary": "Convert IDs",
        "operationId": "convertId",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "A comma-separated list of source IDs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "route",
            "in": "query",
            "description": "A comma-separated list of datasets, starts with the source dataset and ends with the target dataset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report",
            "in": "query",
            "description": "The output type can be selected from the following: 'target' (includes target IDs only), 'pair' (includes source and target IDs), 'all' (all converted IDs including source, target, and intermediate IDs of the route), or 'full' (all IDs including unconverted IDs).",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "pair",
                "target",
                "full"
              ],
              "default": "target"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The output format can be selected from 'tsv', 'csv', or 'json'.",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "tsv",
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to be returned.",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 10000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The position to start after the specified number of results.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "noheader",
            "in": "query",
            "description": "If '1' is specified, the header row will be omitted from the output. This parameter is only effective when the 'format' is 'csv' or 'tsv'.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "26199",
                        "38937",
                        "14027",
                        "21498",
                        "18185",
                        "1314",
                        "25960",
                        "2206",
                        "22224",
                        "19741"
                      ]
                    },
                    "route": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "hgnc",
                        "ensembl_gene"
                      ]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "ENSG00000100364",
                        "ENSG00000154719",
                        "ENSG00000116285",
                        "ENSG00000179454",
                        "ENSG00000085978",
                        "ENSG00000081052",
                        "ENSG00000006459",
                        "ENSG00000198088",
                        "ENSG00000134152",
                        "ENSG00000284140"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/count/{source}-{target}": {
      "get": {
        "tags": [
          "count"
        ],
        "summary": "Count IDs",
        "operationId": "countId",
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "List IDs separated by commas",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "source": {
                      "type": "integer",
                      "example": 2
                    },
                    "target": {
                      "type": "integer",
                      "example": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/dataset": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get all dataset config",
        "operationId": "getAllDataset",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "affy_probeset": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "Affymetrix probeset"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>\\d{3,}(?:_[a-z])?_at)$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/affy.probeset/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "FIXME"
                        },
                        "category": {
                          "type": "string",
                          "example": "Probe"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "1553582_a_at",
                              "211531_x_at",
                              "202573_at",
                              "201640_x_at",
                              "205117_at",
                              "201017_at",
                              "205099_s_at",
                              "200614_at",
                              "201895_at",
                              "202666_s_at"
                            ]
                          ]
                        },
                        "description": {
                          "type": "string",
                          "example": "The microarray probe set provided by Affymetrix."
                        }
                      }
                    },
                    "assembly_insdc": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "Assembly INSDC"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>GCA_\\d{9})(\\.\\d+)?$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/insdc.gca/",
                              "label": "identifiers.org"
                            },
                            {
                              "uri": "https://www.ncbi.nlm.nih.gov/datasets/genome/",
                              "label": "NCBI Genome Assembly"
                            },
                            {
                              "uri": "https://www.ebi.ac.uk/ena/data/view/",
                              "label": "ENA"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "FIXME"
                        },
                        "category": {
                          "type": "string",
                          "example": "Genome"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "GCA_000001215",
                              "GCA_000001405",
                              "GCA_000001545",
                              "GCA_000001635",
                              "GCA_000001735",
                              "GCA_000001765",
                              "GCA_000001895",
                              "GCA_000001905",
                              "GCA_000001985",
                              "GCA_000002035"
                            ],
                            [
                              "GCA_000001215.4",
                              "GCA_000001405.29",
                              "GCA_000001545.3",
                              "GCA_000001635.9",
                              "GCA_000001735.2",
                              "GCA_000001765.3",
                              "GCA_000001895.4",
                              "GCA_000001905.1",
                              "GCA_000001985.1",
                              "GCA_000002035.4"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "assembly_refseq": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "Assembly RefSeq"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>GCF_\\d{9})(\\.\\d+)?$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/insdc.gca/",
                              "label": "identifiers.org"
                            },
                            {
                              "uri": "https://www.ncbi.nlm.nih.gov/datasets/genome/",
                              "label": "NCBI Genome Assembly"
                            },
                            {
                              "uri": "https://www.ebi.ac.uk/ena/data/view/",
                              "label": "ENA"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "FIXME"
                        },
                        "category": {
                          "type": "string",
                          "example": "Genome"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "GCF_000002035",
                              "GCF_009870125",
                              "GCF_000840205",
                              "GCF_000004195",
                              "GCF_000475195",
                              "GCF_000296755",
                              "GCF_000151885",
                              "GCF_000715135",
                              "GCF_001039355",
                              "GCF_000331145"
                            ],
                            [
                              "GCF_000002035.6",
                              "GCF_009870125.1",
                              "GCF_000840205.1",
                              "GCF_000004195.4",
                              "GCF_000475195.1",
                              "GCF_000296755.1",
                              "GCF_000151885.1",
                              "GCF_000715135.1",
                              "GCF_001039355.2",
                              "GCF_000331145.1"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "atc": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "ATC classification"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>[A-Z]\\d{2}[A-Z]{2}\\d{2})$"
                        },
                        "method": {
                          "type": "string",
                          "example": "sparql_csv2tsv.sh -w $TOGOID_ROOT/bin/sparql/atc_label.rq https://rdfportal.org/pubchem/sparql"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/atc/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "FIXME"
                        },
                        "category": {
                          "type": "string",
                          "example": "Drug"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "J01DD11",
                              "B02BA02",
                              "A03AD30",
                              "R03AC17",
                              "J01CA05",
                              "D07AB07",
                              "D07XB03",
                              "G04CA01",
                              "S01BC11",
                              "G03DB05"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "bioproject": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "BioProject"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>PRJ[DEN][A-Z]\\d+)$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "uri": "https://www.ncbi.nlm.nih.gov/bioproject?term=",
                              "label": "NCBI BioProject"
                            },
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/bioproject/",
                              "label": "identifiers.org"
                            },
                            {
                              "uri": "https://www.ebi.ac.uk/ena/browser/view/",
                              "label": "EBI BioProject"
                            },
                            {
                              "uri": "https://ddbj.nig.ac.jp/search/entry/bioproject/",
                              "label": "DDBJ BioProject"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00476"
                        },
                        "category": {
                          "type": "string",
                          "example": "Project"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "PRJDB575",
                              "PRJDB1880",
                              "PRJDB478",
                              "PRJDA45949",
                              "PRJEB6285",
                              "PRJEA28961",
                              "PRJEB2222",
                              "PRJNA30641",
                              "PRJNA68235",
                              "PRJNA42549"
                            ]
                          ]
                        },
                        "method": {
                          "type": "string",
                          "example": "awk -F \"\\t\" '$2==\"Title\"{print $1 \"\\t\" gensub(\"\\r\",\" \",\"g\",$3)}' $TOGOID_ROOT/input/bioproject/bioproject.tsv"
                        }
                      }
                    },
                    "bioproject_umbrella": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "BioProject umbrella"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>PRJ[DEN][A-Z]\\d+)$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "uri": "https://www.ncbi.nlm.nih.gov/bioproject?term=",
                              "label": "NCBI BioProject"
                            },
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/bioproject/",
                              "label": "identifiers.org"
                            },
                            {
                              "uri": "https://www.ebi.ac.uk/ena/browser/view/",
                              "label": "EBI BioProject"
                            },
                            {
                              "uri": "https://ddbj.nig.ac.jp/search/entry/bioproject/",
                              "label": "DDBJ BioProject"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00476"
                        },
                        "category": {
                          "type": "string",
                          "example": "Project"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "PRJDB10770",
                              "PRJDB14691",
                              "PRJEB55721",
                              "PRJEB56110",
                              "PRJNA388429",
                              "PRJNA510115",
                              "PRJNA834739",
                              "PRJNA561326",
                              "PRJNA672702",
                              "PRJNA248220"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "biosample": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "BioSample"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>SAM[NED]\\w?\\d+)$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "uri": "https://www.ncbi.nlm.nih.gov/biosample?term=",
                              "label": "NCBI BioSample"
                            },
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/biosample/",
                              "label": "identifiers.org"
                            },
                            {
                              "uri": "https://www.ebi.ac.uk/biosamples/sample/",
                              "label": "EBI BioSamples"
                            },
                            {
                              "uri": "https://ddbj.nig.ac.jp/search/entry/biosample/",
                              "label": "DDBJ BioSample"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc01983"
                        },
                        "category": {
                          "type": "string",
                          "example": "Sample"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "SAMD00003683",
                              "SAMD00006315",
                              "SAMD00003741",
                              "SAMD00011226",
                              "SAMN13091859",
                              "SAMN05877962",
                              "SAMN05877838",
                              "SAMEA104232303",
                              "SAMEA4760552",
                              "SAMEA1572228"
                            ]
                          ]
                        },
                        "method": {
                          "type": "string",
                          "example": "awk -F \"\\t\" '$2==\"Title\"{print $1 \"\\t\" $3}' $TOGOID_ROOT/input/biosample/biosample_set.tsv"
                        }
                      }
                    },
                    "ccds": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "Consensus CDS"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>CCDS\\d+)(?:\\.\\d+)?$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/ccds/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00023"
                        },
                        "category": {
                          "type": "string",
                          "example": "Gene"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "CCDS1471",
                              "CCDS10913",
                              "CCDS14790",
                              "CCDS35175",
                              "CCDS2395",
                              "CCDS58412",
                              "CCDS55555",
                              "CCDS34401",
                              "CCDS41889",
                              "CCDS9052"
                            ],
                            [
                              "CCDS1471.1",
                              "CCDS10913.1",
                              "CCDS14790.1",
                              "CCDS35175.2",
                              "CCDS2395.1",
                              "CCDS58412.1",
                              "CCDS55555.1",
                              "CCDS34401.2",
                              "CCDS41889.1",
                              "CCDS9052.1"
                            ]
                          ]
                        }
                      }
                    },
                    "cellosaurus": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "Cellosaurus"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^CVCL[:_](?<id>[A-Z0-9]{4})$"
                        },
                        "format": {
                          "type": "array",
                          "example": [
                            "CVCL:%s",
                            "CVCL_%s"
                          ]
                        },
                        "method": {
                          "type": "string",
                          "example": "awk 'BEGIN{RS=\"\\n//\\n\";FS=\"\\n\"}{label=\"\";for(i=1;i<=NF;i++){if($i~/^AC/){ac=substr($i,11)}if($i~/^ID/){label=substr($i,6)}};print ac \"\\t\" label}' $TOGOID_ROOT/input/cellosaurus/cellosaurus.txt"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://www.cellosaurus.org/CVCL_",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc02180"
                        },
                        "category": {
                          "type": "string",
                          "example": "CellLine"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "CVCL:7T24",
                              "CVCL:SE45",
                              "CVCL:XG73",
                              "CVCL:B6HT",
                              "CVCL:WM34",
                              "CVCL:7891",
                              "CVCL:FV52",
                              "CVCL:0367",
                              "CVCL:9Z18",
                              "CVCL:CG19"
                            ],
                            [
                              "CVCL_7T24",
                              "CVCL_SE45",
                              "CVCL_XG73",
                              "CVCL_B6HT",
                              "CVCL_WM34",
                              "CVCL_7891",
                              "CVCL_FV52",
                              "CVCL_0367",
                              "CVCL_9Z18",
                              "CVCL_CG19"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "chebi": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "ChEBI compound"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?:CHEBI[:_])?(?<id>\\d+)$"
                        },
                        "format": {
                          "type": "array",
                          "example": [
                            "%s",
                            "CHEBI:%s",
                            "CHEBI_%s"
                          ]
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://purl.obolibrary.org/obo/CHEBI_",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00027"
                        },
                        "category": {
                          "type": "string",
                          "example": "Compound"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "84824",
                              "40167",
                              "32807",
                              "87666",
                              "57524",
                              "64860",
                              "94440",
                              "18005",
                              "4806",
                              "50158"
                            ],
                            [
                              "CHEBI:84824",
                              "CHEBI:40167",
                              "CHEBI:32807",
                              "CHEBI:87666",
                              "CHEBI:57524",
                              "CHEBI:64860",
                              "CHEBI:94440",
                              "CHEBI:18005",
                              "CHEBI:4806",
                              "CHEBI:50158"
                            ],
                            [
                              "CHEBI_84824",
                              "CHEBI_40167",
                              "CHEBI_32807",
                              "CHEBI_87666",
                              "CHEBI_57524",
                              "CHEBI_64860",
                              "CHEBI_94440",
                              "CHEBI_18005",
                              "CHEBI_4806",
                              "CHEBI_50158"
                            ]
                          ]
                        },
                        "annotations": {
                          "type": "array",
                          "example": [
                            {
                              "label": "Molecular mass",
                              "variable": "mass",
                              "numerical": true
                            }
                          ]
                        },
                        "label_resolver": {
                          "type": "string",
                          "example": null
                        }
                      }
                    },
                    "chembl_compound": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "ChEMBL compound"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>CHEMBL\\d+)$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/chembl.compound/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc02555"
                        },
                        "category": {
                          "type": "string",
                          "example": "Compound"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "CHEMBL121649",
                              "CHEMBL190334",
                              "CHEMBL3103282",
                              "CHEMBL69329",
                              "CHEMBL2105131",
                              "CHEMBL2177390",
                              "CHEMBL3091820",
                              "CHEMBL1200335",
                              "CHEMBL3094412",
                              "CHEMBL67367"
                            ]
                          ]
                        }
                      }
                    },
                    "chembl_target": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "ChEMBL target"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>CHEMBL\\d+)$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/chembl.target/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc02555"
                        },
                        "category": {
                          "type": "string",
                          "example": "Protein"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "CHEMBL2788",
                              "CHEMBL3091264",
                              "CHEMBL3831324",
                              "CHEMBL5524",
                              "CHEMBL5597",
                              "CHEMBL3983",
                              "CHEMBL4187",
                              "CHEMBL3391681",
                              "CHEMBL5135",
                              "CHEMBL1255130"
                            ]
                          ]
                        }
                      }
                    },
                    "civic_gene": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "CIVIC gene"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>\\d+)$"
                        },
                        "prefix": {
                          "type": "string",
                          "example": "http://civic.genome.wustl.edu/links/genes/"
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc02558"
                        },
                        "category": {
                          "type": "string",
                          "example": "Gene"
                        }
                      }
                    },
                    "clinvar": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "ClinVar variant"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(VCV0*)?(?<id>(\\d{1,9}))$"
                        },
                        "format": {
                          "type": "array",
                          "example": [
                            "%s",
                            "VCV%09d"
                          ]
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/clinvar/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc01514"
                        },
                        "category": {
                          "type": "string",
                          "example": "Variant"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "658761",
                              "619209",
                              "745342",
                              "11955",
                              "731668",
                              "724289",
                              "725734",
                              "743127",
                              "789913",
                              "5302"
                            ],
                            [
                              "VCV000658761",
                              "VCV000619209",
                              "VCV000745342",
                              "VCV000011955",
                              "VCV000731668",
                              "VCV000724289",
                              "VCV000725734",
                              "VCV000743127",
                              "VCV000789913",
                              "VCV000005302"
                            ]
                          ]
                        }
                      }
                    },
                    "cog": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "COG"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>COG\\d{4})$"
                        },
                        "method": {
                          "type": "string",
                          "example": "cut -f 1,3 $TOGOID_ROOT/input/cog/cog-20.def.tab"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "https://www.ncbi.nlm.nih.gov/research/cog/cog/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00397"
                        },
                        "category": {
                          "type": "string",
                          "example": "Ortholog"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "COG0130",
                              "COG0663",
                              "COG0762",
                              "COG1186",
                              "COG1285",
                              "COG1390",
                              "COG3079",
                              "COG3354",
                              "COG4957",
                              "COG5379"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "dbsnp": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "dbSNP"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>rs\\d+)$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/dbsnp/",
                              "label": "identifiers.org"
                            },
                            {
                              "uri": "https://www.ebi.ac.uk/gwas/variants/",
                              "label": "GWAS Catalog"
                            },
                            {
                              "uri": "https://www.ensembl.org/Homo_sapiens/Variation/Explore?v=",
                              "label": "Ensembl"
                            },
                            {
                              "uri": "https://www.gtexportal.org/home/snp/",
                              "label": "GTEx"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00206"
                        },
                        "category": {
                          "type": "string",
                          "example": "Variant"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "rs746303788",
                              "rs1407020249",
                              "rs374003162",
                              "rs4647297",
                              "rs549539526",
                              "rs1387864740",
                              "rs1177577242",
                              "rs769848663",
                              "rs16961655",
                              "rs79135400"
                            ]
                          ]
                        }
                      }
                    },
                    "dgidb": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "DGIdb"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}"
                        },
                        "prefix": {
                          "type": "string",
                          "example": "FIXME"
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc02562"
                        },
                        "category": {
                          "type": "string",
                          "example": "Interaction"
                        }
                      }
                    },
                    "doid": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "Disease ontology"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^DO(?:ID)?[:_](?<id>\\d+)$"
                        },
                        "format": {
                          "type": "array",
                          "example": [
                            "DO:%s",
                            "DOID:%s",
                            "DOID_%s"
                          ]
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://purl.obolibrary.org/obo/DOID_",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00261"
                        },
                        "category": {
                          "type": "string",
                          "example": "Phenotype"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "DO:9036",
                              "DO:3159",
                              "DO:10964",
                              "DO:12698",
                              "DO:0060459",
                              "DO:11840",
                              "DO:11339",
                              "DO:914",
                              "DO:9945",
                              "DO:1407"
                            ],
                            [
                              "DOID:9036",
                              "DOID:3159",
                              "DOID:10964",
                              "DOID:12698",
                              "DOID:0060459",
                              "DOID:11840",
                              "DOID:11339",
                              "DOID:914",
                              "DOID:9945",
                              "DOID:1407"
                            ],
                            [
                              "DOID_9036",
                              "DOID_3159",
                              "DOID_10964",
                              "DOID_12698",
                              "DOID_0060459",
                              "DOID_11840",
                              "DOID_11339",
                              "DOID_914",
                              "DOID_9945",
                              "DOID_1407"
                            ]
                          ]
                        }
                      }
                    },
                    "drugbank": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "DrugBank"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>DB\\d{5})$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/drugbank/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc01071"
                        },
                        "category": {
                          "type": "string",
                          "example": "Drug"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "DB15589",
                              "DB13471",
                              "DB05830",
                              "DB07423",
                              "DB07074",
                              "DB08912",
                              "DB02908",
                              "DB05088",
                              "DB05229",
                              "DB08910"
                            ]
                          ]
                        }
                      }
                    },
                    "ec": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "Enzyme nomenclature"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?:EC:)?(?<id>\\d+\\.(?:(?:-\\.-\\.-)|\\d+\\.(?:(?:-\\.-)|\\d+\\.(?:-|n?\\d+))))$"
                        },
                        "format": {
                          "type": "array",
                          "example": [
                            "%s",
                            "EC:%s"
                          ]
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/ec-code/",
                              "label": "identifiers.org"
                            },
                            {
                              "uri": "https://www.brenda-enzymes.org/enzyme.php?ecno=",
                              "label": "BRENDA"
                            },
                            {
                              "uri": "https://enzyme.expasy.org/EC/",
                              "label": "Expasy ENZYME"
                            },
                            {
                              "uri": "https://www.enzyme-database.org/query.php?ec=",
                              "label": "ExplorEnz"
                            },
                            {
                              "uri": "https://www.ebi.ac.uk/intenz/query?cmd=SearchEC&ec=",
                              "label": "IntEnz"
                            },
                            {
                              "uri": "https://www.genome.jp/dbget-bin/www_bget?ec:",
                              "label": "KEGG"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc01883"
                        },
                        "category": {
                          "type": "string",
                          "example": "Function"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "1.6.3.1",
                              "2.4.1.353",
                              "1.1.1.288",
                              "1.5.1.2",
                              "3.1.1.71",
                              "1.3.1.31",
                              "3.5.1.29",
                              "1.16.1.1",
                              "3.1.3.48",
                              "2.3.1.138"
                            ],
                            [
                              "EC:1.6.3.1",
                              "EC:2.4.1.353",
                              "EC:1.1.1.288",
                              "EC:1.5.1.2",
                              "EC:3.1.1.71",
                              "EC:1.3.1.31",
                              "EC:3.5.1.29",
                              "EC:1.16.1.1",
                              "EC:3.1.3.48",
                              "EC:2.3.1.138"
                            ]
                          ]
                        },
                        "method": {
                          "type": "string",
                          "example": "sparql_csv2tsv.sh -w $TOGOID_ROOT/bin/sparql/ec_label.rq https://rdfportal.org/sib/sparql"
                        }
                      }
                    },
                    "efo_disease": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "EFO disease"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^EFO[:_](?<id>\\d{7})$"
                        },
                        "format": {
                          "type": "array",
                          "example": [
                            "EFO:%s",
                            "EFO_%s"
                          ]
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://www.ebi.ac.uk/efo/EFO_",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "FIXME"
                        },
                        "category": {
                          "type": "string",
                          "example": "Phenotype"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "EFO:0009491",
                              "EFO:0009549",
                              "EFO:0001365",
                              "EFO:0002427",
                              "EFO:0005531",
                              "EFO:0005539",
                              "EFO:0005583",
                              "EFO:0007308",
                              "EFO:0008560",
                              "EFO:0000779"
                            ],
                            [
                              "EFO_0009491",
                              "EFO_0009549",
                              "EFO_0001365",
                              "EFO_0002427",
                              "EFO_0005531",
                              "EFO_0005539",
                              "EFO_0005583",
                              "EFO_0007308",
                              "EFO_0008560",
                              "EFO_0000779"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "ena": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "ENA"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?:ena\\.embl:)?(?<id>[A-Z]+[0-9]+)(?:\\.\\d+)?$"
                        },
                        "prefix": {
                          "type": "string",
                          "example": "http://identifiers.org/ena.embl/"
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00432"
                        },
                        "category": {
                          "type": "string",
                          "example": "Gene"
                        }
                      }
                    },
                    "ensembl_gene": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "Ensembl gene"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?:(?:(?<id1>ENS[A-Z]*G\\d{11})(?:\\.\\d+)?)|(?<id2>FBgn\\d{7})|(?:(?<id3>MGP_[A-Za-z0-9]+_G\\d{7})(?:\\.\\d+)?)|(?<id4>LRG_\\d+)|(?<id5>WBGene\\d{8})|(?<id6>Y[A-Z]{2}\\d{3}[A-Z](?:-[A-Z])?)|(?<id7>Q\\d{4})|(?<id8>[A-Z]{3}\\d{1,3}(?:-\\d)?)|(?<id9>snR\\d+-?[A-Za-z]?)|(?<id10>t[A-Z]\\([ACGUX]{3}\\)[A-Z]\\d?))$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "uri": "https://www.ensembl.org/id/",
                              "label": "Ensembl"
                            },
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/ensembl/",
                              "label": "identifiers.org"
                            },
                            {
                              "uri": "http://www.ebi.ac.uk/gxa/genes/",
                              "label": "Expression Atlas"
                            },
                            {
                              "uri": "https://www.bgee.org/gene/",
                              "label": "Bgee"
                            },
                            {
                              "uri": "https://www.gtexportal.org/home/gene/",
                              "label": "GTEx (Only human IDs)"
                            },
                            {
                              "uri": "https://www.proteinatlas.org/",
                              "label": "Human Protein Atlas  (Only human IDs)"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00054"
                        },
                        "category": {
                          "type": "string",
                          "example": "Gene"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "ENSG00000186283",
                              "ENSAMEG00000018238",
                              "ENSG00000167916",
                              "ENSG00000213417",
                              "ENSG00000133328",
                              "ENSG00000274404",
                              "ENSG00000184363",
                              "FBgn0021742",
                              "FBgn0030057",
                              "FBgn0265139"
                            ]
                          ]
                        }
                      }
                    },
                    "ensembl_protein": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "Ensembl protein"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?:(?:(?<id1>ENS[A-Z]*P\\d{11})(?:\\.\\d+)?)|(?<id2>FBpp\\d{7})|(?:(?<id3>MGP_[A-Za-z0-9]+_P\\d{7})(?:\\.\\d+)?)|(?<id4>LRG_\\d+p\\d+(?:-\\d)?)|(?<id5>(?:[A-Za-z0-9][A-Za-z0-9_]+)\\.t?\\d+[a-z]?(?:\\.\\d+)?)|(?<id6>Y[A-Z]{2}\\d{3}[A-Z](?:-[A-Z])?)|(?<id7>Q\\d{4}))$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/ensembl/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00054"
                        },
                        "category": {
                          "type": "string",
                          "example": "Protein"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "ENSP00000365411",
                              "ENSP00000420674",
                              "ENSAZOP00000020796",
                              "FBpp0070277",
                              "FBpp0070535",
                              "ENSAZOP00000019433",
                              "ENSP00000372042",
                              "ENSAZOP00000017910",
                              "ENSP00000370977",
                              "ENSP00000481894"
                            ]
                          ]
                        }
                      }
                    },
                    "ensembl_transcript": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "Ensembl transcript"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?:(?:(?<id1>ENS[A-Z]*T\\d{11})(?:\\.\\d+)?)|(?<id2>FBtr\\d{7})|(?:(?<id3>MGP_[A-Za-z0-9]+_T\\d{7})(?:\\.\\d+)?)|(?<id4>LRG_\\d+t\\d+(?:-\\d)?)|(?<id5>(?:[A-Za-z0-9][A-Za-z0-9_]+)\\.t?\\d+[a-z]?(?:\\.\\d+)?)|(?<id6>Y[A-Z]{2}\\d{3}[A-Z](?:-[A-Z])?(?:_[a-z]{1,3}RNA)?)|(?<id7>Q\\d{4}_[a-z]{1,3}RNA)|(?<id8>[A-Z]{3}\\d{1,3}(?:-\\d)?_[a-z]{1,3}RNA)|(?<id9>snR\\d+-?[A-Za-z]?_sno?RNA)|(?<id10>t[A-Z]\\([ACGUX]{3}\\)[A-Z]\\d?_tRNA))$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/ensembl/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00054"
                        },
                        "category": {
                          "type": "string",
                          "example": "Transcript"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "ENST00000638000",
                              "ENST00000307864",
                              "ENSTRUT00000006732",
                              "ENSAMET00000021072",
                              "ENSAZOT00000021040",
                              "ENST00000622541",
                              "ENST00000462612",
                              "ENSBTAT00000072441",
                              "ENSAZOT00000005048",
                              "ENST00000475822"
                            ]
                          ]
                        },
                        "annotations": {
                          "type": "array",
                          "example": [
                            {
                              "items": [
                                "Ensembl canonical",
                                "MANE Select",
                                "GENCODE Basic",
                                "TSL 1",
                                "TSL 2",
                                "TSL 3",
                                "TSL 4",
                                "TSL 5",
                                "TSL NA",
                                "APPRIS P1",
                                "APPRIS P2",
                                "APPRIS P3",
                                "APPRIS P4",
                                "APPRIS P5",
                                "APPRIS ALT1",
                                "APPRIS ALT2",
                                "5' incomplete",
                                "3' incomplete"
                              ],
                              "label": "Transcript flags",
                              "is_list": true,
                              "variable": "transcript_flag"
                            }
                          ]
                        }
                      }
                    },
                    "flybase_gene": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "FlyBase gene"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>FBgn\\d{7})$"
                        },
                        "method": {
                          "type": "string",
                          "example": "awk -F '\\t' '!/^#/&&!a[$3]++{print $3 \"\\t\" $4}' $TOGOID_ROOT/input/flybase/fbgn_fbtr_fbpp_expanded_fb_current.tsv"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/fb/",
                              "label": "identifiers.org"
                            },
                            {
                              "uri": "https://www.alliancegenome.org/gene/FB:",
                              "label": "Alliance of Genome Resources"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00064"
                        },
                        "category": {
                          "type": "string",
                          "example": "Gene"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "FBgn0040373",
                              "FBgn0040372",
                              "FBgn0261446",
                              "FBgn0000316",
                              "FBgn0005427",
                              "FBgn0040370",
                              "FBgn0040371",
                              "FBgn0029521",
                              "FBgn0024989",
                              "FBgn0004034"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "flybase_protein": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "FlyBase protein"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>FBpp\\d{7})$"
                        },
                        "method": {
                          "type": "string",
                          "example": "awk -F '\\t' '!/^#/&&$10&&!a[$10]++{print $10 \"\\t\" gensub(\"\\r\", \"\", \"g\", $11)}' $TOGOID_ROOT/input/flybase/fbgn_fbtr_fbpp_expanded_fb_current.tsv"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/fb/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00064"
                        },
                        "category": {
                          "type": "string",
                          "example": "Protein"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "FBpp0071677",
                              "FBpp0071678",
                              "FBpp0099961",
                              "FBpp0309745",
                              "FBpp0082828",
                              "FBpp0082829",
                              "FBpp0289712",
                              "FBpp0297433",
                              "FBpp0082823",
                              "FBpp0082824"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "flybase_transcript": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "FlyBase transcript"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>FBtr\\d{7})$"
                        },
                        "method": {
                          "type": "string",
                          "example": "awk -F '\\t' '!/^#/&&!a[$8]++{print $8 \"\\t\" $9}' $TOGOID_ROOT/input/flybase/fbgn_fbtr_fbpp_expanded_fb_current.tsv"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/fb/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00064"
                        },
                        "category": {
                          "type": "string",
                          "example": "Transcript"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "FBtr0304393",
                              "FBtr0479711",
                              "FBtr0309770",
                              "FBtr0475069",
                              "FBtr0085087",
                              "FBtr0346482",
                              "FBtr0332795",
                              "FBtr0309611",
                              "FBtr0309739",
                              "FBtr0308921"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "gea": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "GEA"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>E-GEAD-\\d+)$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "https://ddbj.nig.ac.jp/public/ddbj_database/gea/experiment/E-GEAD-000/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "FIXME"
                        },
                        "category": {
                          "type": "string",
                          "example": "Experiment"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "E-GEAD-446",
                              "E-GEAD-519",
                              "E-GEAD-328",
                              "E-GEAD-349",
                              "E-GEAD-284",
                              "E-GEAD-448",
                              "E-GEAD-460",
                              "E-GEAD-348",
                              "E-GEAD-344",
                              "E-GEAD-385"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "geo_sample": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "GEO sample"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>GSM\\d+)$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/geo/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00080"
                        },
                        "category": {
                          "type": "string",
                          "example": "Sample"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "GSM3683883",
                              "GSM6900216",
                              "GSM2660556",
                              "GSM6582742",
                              "GSM4471614",
                              "GSM3395982",
                              "GSM2500217",
                              "GSM2748246",
                              "GSM4402543",
                              "GSM586869"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "geo_series": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "GEO series"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>GSE\\d+)$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/geo/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00080"
                        },
                        "category": {
                          "type": "string",
                          "example": "Project"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "GSE1",
                              "GSE43529",
                              "GSE8355",
                              "GSE49922",
                              "GSE17593",
                              "GSE17181",
                              "GSE177048",
                              "GSE196322",
                              "GSE59420",
                              "GSE157526",
                              "GSE57361"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "glycomotif": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "GlycoMotif"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?:GM\\.)?(?<id>G[0-9]{5}[A-Z]{2})$"
                        },
                        "format": {
                          "type": "array",
                          "example": [
                            "%s",
                            "GM.%s"
                          ]
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://glycomotif.glyomics.org/glycomotif/GM.",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "FIXME"
                        },
                        "category": {
                          "type": "string",
                          "example": "Glycan"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "G64227KZ",
                              "G14091MR",
                              "G00552RX",
                              "G18625KA",
                              "G54733XO",
                              "G72557NR",
                              "G90598GO",
                              "G93805MV",
                              "G99524KA",
                              "G00029MO"
                            ],
                            [
                              "GM.G64227KZ",
                              "GM.G14091MR",
                              "GM.G00552RX",
                              "GM.G18625KA",
                              "GM.G54733XO",
                              "GM.G72557NR",
                              "GM.G90598GO",
                              "GM.G93805MV",
                              "GM.G99524KA",
                              "GM.G00029MO"
                            ]
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "glytoucan": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "GlyTouCan"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>G[0-9]{5}[A-Z]{2})$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/glytoucan/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc01535"
                        },
                        "category": {
                          "type": "string",
                          "example": "Glycan"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "G42293RF",
                              "G00065MO",
                              "G90562PB",
                              "G00035MO",
                              "G49108TO",
                              "G45395BF",
                              "G60687RJ",
                              "G00055MO",
                              "G18625KA",
                              "G50361AJ"
                            ]
                          ]
                        }
                      }
                    },
                    "go": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "Gene ontology"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^GO[:_](?<id>\\d{7})$"
                        },
                        "format": {
                          "type": "array",
                          "example": [
                            "GO:%s",
                            "GO_%s"
                          ]
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://purl.obolibrary.org/obo/GO_",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00074"
                        },
                        "category": {
                          "type": "string",
                          "example": "Function"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "GO:0005643",
                              "GO:0097110",
                              "GO:0097225",
                              "GO:0052855",
                              "GO:2000012",
                              "GO:0042921",
                              "GO:0019774",
                              "GO:0085018",
                              "GO:0009508",
                              "GO:0046470"
                            ],
                            [
                              "GO_0005643",
                              "GO_0097110",
                              "GO_0097225",
                              "GO_0052855",
                              "GO_2000012",
                              "GO_0042921",
                              "GO_0019774",
                              "GO_0085018",
                              "GO_0009508",
                              "GO_0046470"
                            ]
                          ]
                        }
                      }
                    },
                    "hgnc": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "HGNC"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?:(?:HGNC|hgnc):)?(?<id>\\d{1,5})$"
                        },
                        "format": {
                          "type": "array",
                          "example": [
                            "%s",
                            "HGNC:%s",
                            "hgnc:%s"
                          ]
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/hgnc/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc01774"
                        },
                        "category": {
                          "type": "string",
                          "example": "Gene"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "26199",
                              "38937",
                              "14027",
                              "21498",
                              "18185",
                              "1314",
                              "25960",
                              "2206",
                              "22224",
                              "19741"
                            ],
                            [
                              "HGNC:26199",
                              "HGNC:38937",
                              "HGNC:14027",
                              "HGNC:21498",
                              "HGNC:18185",
                              "HGNC:1314",
                              "HGNC:25960",
                              "HGNC:2206",
                              "HGNC:22224",
                              "HGNC:19741"
                            ],
                            [
                              "hgnc:26199",
                              "hgnc:38937",
                              "hgnc:14027",
                              "hgnc:21498",
                              "hgnc:18185",
                              "hgnc:1314",
                              "hgnc:25960",
                              "hgnc:2206",
                              "hgnc:22224",
                              "hgnc:19741"
                            ]
                          ]
                        }
                      }
                    },
                    "hgnc_symbol": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "HGNC gene symbol"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>[A-Z0-9_(orf)\\-]+\\@?)$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/hgnc.symbol/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc01774"
                        },
                        "category": {
                          "type": "string",
                          "example": "Gene"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "MBNL2",
                              "RGS20",
                              "LINC02011",
                              "IGHV1-14",
                              "SH3RF2",
                              "SPATA13",
                              "HNRNPCP10",
                              "LINC00334",
                              "TMEM241",
                              "RN7SL753P"
                            ]
                          ]
                        }
                      }
                    },
                    "hmdb": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "HMDB"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?:hmdb:)?(?<id>HMDB\\d+)$"
                        },
                        "format": {
                          "type": "array",
                          "example": [
                            "%s",
                            "hmdb:%s"
                          ]
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/hmdb/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00909"
                        },
                        "category": {
                          "type": "string",
                          "example": "Compound"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "HMDB0029433",
                              "HMDB0015609",
                              "HMDB0000042",
                              "HMDB0002360",
                              "HMDB0003345",
                              "HMDB0003550",
                              "HMDB0036769",
                              "HMDB0000935",
                              "HMDB0002755",
                              "HMDB0004369"
                            ],
                            [
                              "hmdb:HMDB0029433",
                              "hmdb:HMDB0015609",
                              "hmdb:HMDB0000042",
                              "hmdb:HMDB0002360",
                              "hmdb:HMDB0003345",
                              "hmdb:HMDB0003550",
                              "hmdb:HMDB0036769",
                              "hmdb:HMDB0000935",
                              "hmdb:HMDB0002755",
                              "hmdb:HMDB0004369"
                            ]
                          ]
                        },
                        "method": {
                          "type": "string",
                          "example": "awk -F \"\\t\" '$2==\"name\"{print $1 \"\\t\" $3}' $TOGOID_ROOT/input/hmdb/hmdb_metabolites.tsv"
                        }
                      }
                    },
                    "homologene": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "HomoloGene"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^(?<id>\\d+)$"
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://identifiers.org/homologene/",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc00101"
                        },
                        "category": {
                          "type": "string",
                          "example": "Ortholog"
                        },
                        "examples": {
                          "type": "array",
                          "example": [
                            [
                              "117",
                              "17",
                              "6",
                              "142",
                              "55",
                              "132",
                              "61",
                              "109",
                              "137",
                              "134"
                            ]
                          ]
                        }
                      }
                    },
                    "hp": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "Human Phenotype Ontology"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^HP[:_](?<id>\\d{7})$"
                        },
                        "format": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "HP:%s",
                            "HP_%s"
                          ]
                        },
                        "prefix": {
                          "type": "string",
                          "example": "http://purl.obolibrary.org/obo/HP_"
                        },
                        "catalog": {
                          "type": "string",
                          "example": "nbdc02559"
                        },
                        "category": {
                          "type": "string",
                          "example": "Disease"
                        },
                        "examples": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            [
                              "HP:0001947",
                              "HP:0031592",
                              "HP:0012085",
                              "HP:0000956",
                              "HP:0025238",
                              "HP:0002861",
                              "HP:0001680",
                              "HP:0004417",
                              "HP:0001701",
                              "HP:0025084"
                            ],
                            [
                              "HP_0001947",
                              "HP_0031592",
                              "HP_0012085",
                              "HP_0000956",
                              "HP_0025238",
                              "HP_0002861",
                              "HP_0001680",
                              "HP_0004417",
                              "HP_0001701",
                              "HP_0025084"
                            ]
                          ]
                        }
                      }
                    },
                    "hp_inheritance": {
                      "properties": {
                        "label": {
                          "type": "string",
                          "example": "HP Inheritance"
                        },
                        "regex": {
                          "type": "string",
                          "example": "^HP[:_](?<id>\\d{7})$"
                        },
                        "format": {
                          "type": "array",
                          "example": [
                            "HP:%s",
                            "HP_%s"
                          ]
                        },
                        "prefix": {
                          "type": "array",
                          "example": [
                            {
                              "rdf": true,
                              "uri": "http://purl.obolibrary.org/obo/HP_",
                              "label": "rdf"
                            }
                          ]
                        },
                        "catalog": {
[...]
