{
  "openapi": "3.0.0",
  "info": {
    "title": "TogoID API",
    "version": "2.1.0"
  },
  "servers": [
    {
      "url": "https://api.togoid.dbcls.jp"
    }
  ],
  "tags": [
    {
      "name": "convert"
    },
    {
      "name": "count"
    },
    {
      "name": "config"
    }
  ],
  "paths": {
    "/convert": {
      "get": {
        "tags": [
          "convert"
        ],
        "summary": "Convert IDs",
        "operationId": "convertId",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "A comma-separated list of source IDs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "route",
            "in": "query",
            "description": "A comma-separated list of datasets, starts with the source dataset and ends with the target dataset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report",
            "in": "query",
            "description": "The output type can be selected from the following: 'target' (includes target IDs only), 'pair' (includes source and target IDs), 'all' (all converted IDs including source, target, and intermediate IDs of the route), or 'full' (all IDs including unconverted IDs).",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "pair",
                "target",
                "full"
              ],
              "default": "target"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The output format can be selected from 'tsv', 'csv', or 'json'.",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "tsv",
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to be returned.",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 10000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The position to start after the specified number of results.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "noheader",
            "in": "query",
            "description": "If '1' is specified, the header row will be omitted from the output. This parameter is only effective when the 'format' is 'csv' or 'tsv'.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "26199",
                        "38937",
                        "14027",
                        "21498",
                        "18185",
                        "1314",
                        "25960",
                        "2206",
                        "22224",
                        "19741"
                      ]
                    },
                    "route": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "hgnc",
                        "ensembl_gene"
                      ]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "ENSG00000100364",
                        "ENSG00000154719",
                        "ENSG00000116285",
                        "ENSG00000179454",
                        "ENSG00000085978",
                        "ENSG00000081052",
                        "ENSG00000006459",
                        "ENSG00000198088",
                        "ENSG00000134152",
                        "ENSG00000284140"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/count/{source}-{target}": {
      "get": {
        "tags": [
          "count"
        ],
        "summary": "Count IDs",
        "operationId": "countId",
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "List IDs separated by commas",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "source": {
                      "type": "integer",
                      "example": 2
                    },
                    "target": {
                      "type": "integer",
                      "example": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/dataset": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get all dataset config",
        "operationId": "getAllDataset",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "label": { "type": "string" },
                          "regex": { "type": "string" },
                          "format": {
                            "type": "array",
                            "items": { "type": "string" }
                          },
                          "method": { "type": "string" },
                          "prefix": {
                            "oneOf": [
                              { "type": "string" },
                              {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "uri": { "type": "string" },
                                    "label": { "type": "string" },
                                    "rdf": { "type": "boolean" }
                                  }
                                }
                              }
                            ]
                          },
                          "catalog": { "type": "string" },
                          "category": { "type": "string" },
                          "examples": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": { "type": "string" }
                            }
                          },
                          "description": { "type": "string" },
                          "annotations": {
                            "type": "array",
                            "items": { "type": "object" }
                          },
                          "label_resolver": { "type": "string" },
                          "taxonomy": { "type": "boolean" },
                          "sparqlist": { "type": "string" },
                          "label_types": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "label": { "type": "string" },
                                "preferred": { "type": "boolean" },
                                "label_type": { "type": "string" }
                              }
                            }
                          },
                          "dictionaries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "label": { "type": "string" },
                                "preferred": { "type": "boolean" },
                                "dictionary": { "type": "string" }
                              }
                            }
                          }
                        },
                        "additionalProperties": true
                      },
                      { "type": "boolean" },
                      { "type": "string" }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/dataset/{dataset}": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get selected dataset config",
        "operationId": "getDataset",
        "parameters": [
          {
            "name": "dataset",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "example": "UniProt"
                    },
                    "regex": {
                      "type": "string",
                      "example": "^(?:(?<id1>[A-NR-Z][0-9](?:[A-Z][A-Z0-9][A-Z0-9][0-9]){1,2}(?:-\\d+)?)|(?<id2>[OPQ][0-9][A-Z0-9][A-Z0-9][A-Z0-9][0-9](?:-\\d+)?)(?:\\.\\d+)?)$"
                    },
                    "prefix": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rdf": {
                            "type": "boolean"
                          },
                          "uri": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "uri"
                        ]
                      },
                      "example": [
                        {
                          "rdf": true,
                          "uri": "http://purl.uniprot.org/uniprot/",
                          "label": "UniProt"
                        },
                        {
                          "uri": "https://www.ebi.ac.uk/interpro/protein/",
                          "label": "InterPro"
                        }
                      ]
                    },
                    "catalog": {
                      "type": "string",
                      "example": "nbdc00221"
                    },
                    "category": {
                      "type": "string",
                      "example": "Protein"
                    },
                    "examples": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": [
                        [
                          "A0A174V9D2",
                          "A0A1V4U2Y9",
                          "Q7NXD4",
                          "P0AAM3",
                          "O43423",
                          "D4IJI4",
                          "Q66SS1",
                          "B5IDU9",
                          "D3TBR4",
                          "D4ILS5"
                        ]
                      ]
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string"
                          },
                          "variable": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "label",
                          "variable"
                        ]
                      },
                      "example": [
                        {
                          "label": "SwissProt",
                          "variable": "reviewed",
                          "items": [
                            "true",
                            "false"
                          ]
                        },
                        {
                          "label": "Short name",
                          "variable": "short_name"
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "label": "UniProt",
                  "regex": "^(?:(?<id1>[A-NR-Z][0-9](?:[A-Z][A-Z0-9][A-Z0-9][0-9]){1,2}(?:-\\d+)?)|(?<id2>[OPQ][0-9][A-Z0-9][A-Z0-9][A-Z0-9][0-9](?:-\\d+)?)(?:\\.\\d+)?)$",
                  "prefix": [
                    {
                      "rdf": true,
                      "uri": "http://purl.uniprot.org/uniprot/",
                      "label": "UniProt"
                    },
                    {
                      "uri": "https://www.ebi.ac.uk/interpro/protein/",
                      "label": "InterPro"
                    },
                    {
                      "uri": "https://globe.jpostdb.org/protein?id=",
                      "label": "jPOST"
                    },
                    {
                      "uri": "https://glycosmos.org/glycoproteins/show/uniprot/",
                      "label": "GlyCosmos"
                    },
                    {
                      "uri": "https://pharos.nih.gov/targets/",
                      "label": "Pharos"
                    },
                    {
                      "uri": "https://www.ebi.ac.uk/intact/search?query=id:",
                      "label": "IntAct"
                    },
                    {
                      "uri": "https://alphafold.ebi.ac.uk/entry/",
                      "label": "AlphaFold DB"
                    }
                  ],
                  "catalog": "nbdc00221",
                  "category": "Protein",
                  "examples": [
                    [
                      "A0A174V9D2",
                      "A0A1V4U2Y9",
                      "Q7NXD4",
                      "P0AAM3",
                      "O43423",
                      "D4IJI4",
                      "Q66SS1",
                      "B5IDU9",
                      "D3TBR4",
                      "D4ILS5"
                    ]
                  ],
                  "annotations": [
                    {
                      "items": [
                        "true",
                        "false"
                      ],
                      "label": "SwissProt",
                      "variable": "reviewed"
                    },
                    {
                      "label": "Short name",
                      "variable": "short_name"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/relation": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get all database relation",
        "operationId": "getAllRelation",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "forward": {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string" },
                            "display_label": { "type": "string" }
                          }
                        },
                        "reverse": {
                          "type": "object",
                          "properties": {
                            "id": { "type": "string" },
                            "display_label": { "type": "string" }
                          }
                        },
                        "description": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/relation/{source}-{target}": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get selected database relation",
        "operationId": "getRelation",
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "forward": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "display_label": { "type": "string" }
                        }
                      },
                      "reverse": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "display_label": { "type": "string" }
                        }
                      },
                      "description": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/descriptions": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get database description",
        "operationId": "getDescription",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bioproject": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "BioProject is a database which collects the results of research projects under the umbrella of the project or initiative. The database consists of tables of projects, which users can search or browse to find all data outputs related to that project. Users can submit projects or download data via FTP."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "特定の組織やコンソーシアムにより立ち上げられたゲノムプロジェクトをはじめとする生命科学分野の各種プロジェクトを単位とし、そこから産生されたデータセットをまとめたデータベースです。産生された配列データに関しては完全決定配列（ドラフト、進行中を含む）、アセンブリ、アノテーション、マッピングなどの進捗状況が含まれています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "BioProject (Formerly Genome Project)"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        }
                      }
                    },
                    "biosample": {
                      "type": "object"
                    },
                    "ccds": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "This database seeks to identify a core set of human and mouse protein coding regions of high quality that are consistently annotated."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "高品質で確実にアノテーション付けされたヒトとマウスのタンパク質コード領域のコアセットを集約し、提供しているデータベースです。"
                        },
                        "name": {
                          "type": "string",
                          "example": "CCDS"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        }
                      }
                    },
                    "chebi": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "ChEBI is a collection of data on entities of biological interest.\nThis database concentrates on assembling data on smaller chemical compounds, such as atoms, molecules, ions, radicals etc. These should be produced in nature or be synthetic molecules affecting biological processes in living organisms.\nChEBI does not generally include molecules directly encoded by the genome.\nThe database contains 31,651 entries with annotations.\nA keyword search option is available.\nIn addition to this an advanced search option, which includes a structure drawing tool, is provided.\nThe ChEBI database can be searched individually or in combination with other databases."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "生命プロセスに介在する小分子化合物の辞典です。ゲノムに直接コード化されている分子（例：核酸、タンパク、ペプチド）はこのデータベースの対象外です。登録されているデータは、多数の情報源のデータを組み合わせ、冗長性を除いています。主な情報源はIntEnz(EBI)、KEGG COMPOUND、PDBeChem(EBI)、ChEMBL(EBI)です。 ChEBIオントロジー（化合物オントロジー）による分類情報と階層表示が特徴です。\n全てのエントリーにはデータの信頼性を示す★印がついています； 3つ星：ChEBIチームが手作業で注釈付けを行ったもの。2つ星：ChEMBLチームまたはデータ提供者が手作業で注釈付けを行ったもの。1つ星：情報源から自動的に取得した仮エントリーで、手作業での注釈付けが行われていないもの。"
                        },
                        "name": {
                          "type": "string",
                          "example": "ChEBI"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "European Bioinformatics Institute"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "European Bioinformatics Institute"
                        }
                      }
                    },
                    "chembl_compound": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "ChEMBL is a database for bioactive molecules. It collects information of small molecules, such as calculated properties (e.g. logP, Molecular Weight, Lipinski Parameters, etc.) and abstracted bioactivities (e.g. binding constants, pharmacology and ADMET data), and the target information. Metadata of assays for small molecule activities or assays for binding activities between small molecules and its targets are also provided."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "ChEMBLは創薬を目的とした生理活性をもつ化合物や小分子のデータベースです。化合物、核酸などの小分子と、そのターゲットやアッセイ情報を紐付けて収載しています。化合物や小分子の名称、分子式、分子量、標準SMILES、標準InChIなどの情報に加え、結合定数、ADMEデータなど生理活性に関する情報や、薬としての開発段階の情報などが付与されています。化合物を名称や構造で検索したり、ターゲットをタンパク質の名称で検索することができます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "ChEMBL"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "EMBL-EBI"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "EMBL-EBI"
                        }
                      }
                    },
                    "chembl_target": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "ChEMBL is a database for bioactive molecules. It collects information of small molecules, such as calculated properties (e.g. logP, Molecular Weight, Lipinski Parameters, etc.) and abstracted bioactivities (e.g. binding constants, pharmacology and ADMET data), and the target information. Metadata of assays for small molecule activities or assays for binding activities between small molecules and its targets are also provided."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "ChEMBLは創薬を目的とした生理活性をもつ化合物や小分子のデータベースです。化合物、核酸などの小分子と、そのターゲットやアッセイ情報を紐付けて収載しています。化合物や小分子の名称、分子式、分子量、標準SMILES、標準InChIなどの情報に加え、結合定数、ADMEデータなど生理活性に関する情報や、薬としての開発段階の情報などが付与されています。化合物を名称や構造で検索したり、ターゲットをタンパク質の名称で検索することができます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "ChEMBL"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "EMBL-EBI"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "EMBL-EBI"
                        }
                      }
                    },
                    "civic_gene": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "CIViC is a knowledgebase for Clinical Interpretation of Variants in Cancer. It has collected knowledge of the therapeutic, prognostic, diagnostic and predisposing relevance of inherited and somatic variants in cancer based on expert-crowdsourcing."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "CIViCは癌におけるバリアントの臨床的解釈のための知識ベースです。遺伝性および体細胞性の全てのタイプの癌におけるバリアント情報と、その治療、予後、診断、素因への関連性を、専門家によるクラウドソーシングの形式で収集しています。バリアント、遺伝子、疾患、薬、evidence情報が整理されています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "CIVIC"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "The McDonnell Genome Institute, Washington University School of Medicine"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "The McDonnell Genome Institute, Washington University School of Medicine"
                        }
                      }
                    },
                    "clinvar": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "ClinVar is a freely available archive describing relationships between medically important variants and phenotypes. Submissions report human variation, interpretations of the relationship of that variation to human health, and the evidence supporting each interpretation. ClinVar is tightly coupled with dbSNP and dbVar, which maintain information about locations of variations on human assemblies, and also based on the phenotypic descriptions maintained in MedGen (http://www.ncbi.nlm.nih.gov/medgen). Each record contains the submitter, the variation and the phenotype. Furthermore, to facilitate evaluation of the medical importance of each variant, ClinVar aggregates submissions with the same variation/phenotype combination, adds value from other NCBI databases, and reports if there are conflicting clinical interpretations. Data in ClinVar are available in multiple formats, including html, download as XML, VCF or tab-delimited subsets."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "ヒトゲノムの多様性と関連する疾患についての情報を収集し、自由に利用できるアーカイブとして提供しているデータベースです。多型の位置、遺伝子名、疾患との関わりなどを収録しています。遺伝子情報はNCBIのdbSNPおよびdbVarと、表現型に関してはMedGenとリンクしています。また、NIH Genetic Testing Registry (GTR)、OMIM、PubMedからも情報を収集しています。各データはhtml形式での閲覧の他、XMLやタブ区切り形式、一部データはVCFファイルでダウンロードできます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "ClinVar"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        }
                      }
                    },
                    "dbsnp": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "dbSNP collects information on polymorphisms based on single and small-scale multi-base substitutions, including insertions and deletions, microsatelites, and non-polymorphic variants. Differences in the frequency of polymorphisms in a population can be visually compared for each SNP."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "1～数塩基の置換、挿入/欠失、反復等の多型情報からなるデータベースです。各SNPについて、集団間での多型頻度の違いを視覚的に比較することもできます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "dbSNP"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        }
                      }
                    },
                    "dgidb": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "DGIdb is a database about drug-gene interactions and the druggable genome. It collects and integrates drug-gene interactions and gene druggability information from papers, databases and web resources, such as DrugBank, PharmGKB, ChEMBL, Drug Target Commons, TTD, and others, using a combination of expert curation and text-mining. It consists of gene records for gene details, drug records for drug details and Interaction records for interaction of the genes and drugs. Users can enter a list of genes to retrieve all known or potentially druggable genes in that list. Results can be filtered by source, interaction type, or gene category."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "DGIdbは薬物と遺伝子の相互作用および創薬可能なゲノム資源に関するデータベースです。 DrugBank、PharmGKB、Chembl、Drug Target Commons、TTDなど、様々な論文、データベース、その他のWebリソースから、薬物と遺伝子の相互作用および遺伝子の創薬への適用可能性情報を専門家によるキュレーションとテキストマイニングにより整理・統合して提供しています。 薬に関するレコード、遺伝子に関するレコード、相互作用に関するレコードに分かれて整理されており、相互に参照できます。すべてのデータは、無料でダウンロードするか（＊ダウンロードページに条件が記載されている場合を除く）、APIを介してアクセスできます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "DGiDB"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "McDonnell Genome Institute, Washington University School of Medicine"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "McDonnell Genome Institute, Washington University School of Medicine"
                        }
                      }
                    },
                    "doid": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "This site provides a Disease Ontology, which is a standardized ontology organized by human disease terms and related medical concepts. The DO terms are associated with MeSH, ICD, NCI's thesaurus, SNOMED and OMIM to integrate disease and medical vocabularies."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "ヒトの疾患に関する用語や概念について整理したDisease Ontologyを提供するサイトです。MeSH、ICD、NCI’s thesaurus、SNOMEDやOMIMへリンク付けられています。キーワードで語彙を検索することができます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "DO"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Institute of Genome Sciences, University of Maryland School of Medicine"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "Institute of Genome Sciences, University of Maryland School of Medicine"
                        }
                      }
                    },
                    "drugbank": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "DrugBank is a database of detailed informatics resources on approved and experimental drugs. The database contains informaiton on drug targets as well as the results of experiments resulting in extensive bioinformatics and chemoinformatics data. Users can browse or search by drug or target. Data is available for download."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "薬剤の化学的、薬理的、薬事的データとそのターゲット（配列、構造、パスウエイ）の詳細情報を収集、統合したバイオインフォマティクスおよびケモインフォマティクスのリソースです。薬剤エントリー約4,800件のうち、FDA承認小分子薬剤が1,350以上、FDA承認バイオテク（タンパク/ペプチド）薬剤123件、栄養補助食品71件、実験的薬剤が3,243件以上が含まれています。2,500以上の非冗長タンパク配列がFDA承認薬剤エントリーにリンクしています。各エントリーにつき100以上のデータ項目が存在します。"
                        },
                        "name": {
                          "type": "string",
                          "example": "DrugBank"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "University of Alberta/Department of Computing Science"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "University of Alberta/Department of Computing Science"
                        }
                      }
                    },
                    "ec": {
                      "type": "object"
                    },
                    "ena": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "ENA is a database of data from global nucleotide sequencing projects. The database contains information on projects from raw phases trhough complete functional annotation. Users can search by keyword or DNA sequence. Bulk data is available for download."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "次世代シーケンサーによる配列データのレポジトリサイトです。サンプル、実験情報、機器情報、データとしては配列トレース、配列、クオリティ値を含み、アセンブル、マッピング、機能アノテーションも提供しています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "ENA"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "European Bioinformatics Institute"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "European Bioinformatics Institute"
                        }
                      }
                    },
                    "ensembl_gene": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "ENSEMBL is a collection of automatically annotated genome databases for vertebrates and a number of eukaryotes, integrated with all other relevant biological data available.\r\nThe repository covers data on gene annotation, microarray probeset mapping and comparative genomics among many other topics.\r\nInformation may be downloaded by a variety of means: \r\nFor small amounts of data, an export option is suggested.\r\nFor larger amounts of data, an FTP site is provided from where a complete database may be downloaded in one of various formats, from flat files to MySQL dumps."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "ゲノム解読された脊椎生物およびその他の主要な真核生物を対象として自動アノテーションを行い、その結果をゲノムビューワやデータベースとして公開しているプロジェクトです。EMBL-EBIとSanger Centreが共同で進めています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "Ensembl"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Wellcome Trust Sanger Institute"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "Wellcome Trust Sanger Institute"
                        }
                      }
                    },
                    "ensembl_protein": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "ENSEMBL is a collection of automatically annotated genome databases for vertebrates and a number of eukaryotes, integrated with all other relevant biological data available.\r\nThe repository covers data on gene annotation, microarray probeset mapping and comparative genomics among many other topics.\r\nInformation may be downloaded by a variety of means: \r\nFor small amounts of data, an export option is suggested.\r\nFor larger amounts of data, an FTP site is provided from where a complete database may be downloaded in one of various formats, from flat files to MySQL dumps."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "ゲノム解読された脊椎生物およびその他の主要な真核生物を対象として自動アノテーションを行い、その結果をゲノムビューワやデータベースとして公開しているプロジェクトです。EMBL-EBIとSanger Centreが共同で進めています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "Ensembl"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Wellcome Trust Sanger Institute"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "Wellcome Trust Sanger Institute"
                        }
                      }
                    },
                    "ensembl_transcript": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "ENSEMBL is a collection of automatically annotated genome databases for vertebrates and a number of eukaryotes, integrated with all other relevant biological data available.\r\nThe repository covers data on gene annotation, microarray probeset mapping and comparative genomics among many other topics.\r\nInformation may be downloaded by a variety of means: \r\nFor small amounts of data, an export option is suggested.\r\nFor larger amounts of data, an FTP site is provided from where a complete database may be downloaded in one of various formats, from flat files to MySQL dumps."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "ゲノム解読された脊椎生物およびその他の主要な真核生物を対象として自動アノテーションを行い、その結果をゲノムビューワやデータベースとして公開しているプロジェクトです。EMBL-EBIとSanger Centreが共同で進めています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "Ensembl"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Wellcome Trust Sanger Institute"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "Wellcome Trust Sanger Institute"
                        }
                      }
                    },
                    "glytoucan": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "GlyTouCan is an international repository of glycan structures. This database contains uncurated glycan structures ranging in resolution from monosaccharide composition to fully defined structures, as long as there are no inconsistencies in the structure. The database allows users to search by text, graphic input or motif, and browse using motif-list or glycan-list."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "糖鎖構造データを収録した国際糖鎖構造リポジトリです。単糖類組成からグリコシド結合形状などの明確な構造まで、構造に不一致がない限り世界的にユニークなアクセッション番号を付けて登録することができます。キーワード、モチーフ、糖鎖構造画像からの検索、モチーフや糖鎖のリストからのブラウズが可能です。"
                        },
                        "name": {
                          "type": "string",
                          "example": "GlyTouCan"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "GlyTouCan Project Team"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "GlyTouCan Project Team"
                        }
                      }
                    },
                    "go": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "GO is a database which provides a controlled vocabulary of terms for describing gene product characteristics and gene product annotation data. It contains data of terms, definitions and ontology structure. The most recent version of the ontology and the annotation files contributed by members of the GO Consortium are available for download. The GO provides the AmiGO browser and search engine which are web browser-based access to the GO database."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "遺伝子オントロジー（Gene Ontology;GO）とは、生物学的概念を記述するための標準となる語彙を策定しようとするプロジェクトです。GOで定義された用語はGO Termと呼ばれ、Cellular component、Biological process、Molecular functionという3つのカテゴリーに分類されています。GOのデータは、非循環有向グラフ (Directed Acyclic Graph: DAG) と呼ばれるデータ構造を用いて計算機上で記述することができます。\nこのサイトでは、GO Termや関連ツールの配布を行っています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "GO"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "The GO Consortium"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "The GO Consortium"
                        }
                      }
                    },
                    "hgnc": {
                      "type": "object"
                    },
                    "hgnc_symbol": {
                      "type": "object"
                    },
                    "hmdb": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "HUMDB is a database of human metabolites. The database contains information on thousands of metabolites produced by and found in the human body as a result of metabolic processes. genes and proteins related to the metabolites are also affiliated with records, where appropriate. Data on metabolites and the associated genes and proteins are available for download."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "ヒト体内における低分子代謝物の詳細情報を収集したデータベースです。メタボロミクスや臨床化学、バイオマーカー探索、教育分野で活用されることを目的に構築しており、化学データ、臨床データ、分子生物学/化学データを含んでいます。現在、7,900代謝物が登録されており、7,200のタンパク質（DNA）配列のリンク情報があります。"
                        },
                        "name": {
                          "type": "string",
                          "example": "HMDB"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "University of Alberta"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "University of Alberta"
                        }
                      }
                    },
                    "homologene": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "In Homologenes, users can find automatically constructed homologous gene sets from the full-length genome sequences of a wide range of eukaryotic species, as well as mRNA and protein sequences."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "全ゲノム配列が決定された20種類の真核生物の間で自動的検出したホモログ遺伝子のセット、およびmRNAやタンパク質の配列データを提供しています。他の生物種のUniGene配列でホモログの可能性があるものも表示されます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "HomoloGene"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        }
                      }
                    },
                    "hp": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "The Human Phenotype Ontology (HPO) provides a standardized vocabulary of phenotype specialized in human disease. The medical literatures, Orphanet, DECIPHER, and OMIM are used for developing the HPO."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "The Human Phenotype Ontology (HPO) はヒトの疾患に関連する形質の標準化された語彙を提供しています。医学論文、Orphanet、DECIPHER,やOMIMを基に開発されており、疾患と関連する形質の語彙や、疾患に関連する遺伝子情報が収載されています。疾患名、形質、遺伝子名で検索することができます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "HPO"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "The Jackson Laboratory"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "The Jackson Laboratory"
                        }
                      }
                    },
                    "human_protein_atlas": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "Human Protein Atlas is a database of protein expression and localization. The database contains information on where proteins localize within cells and lists antibodies for the detection of human proteins. Information on expression in cancer lines as well as RNA transcript expression is also represented. Elements can be searched by several positional characteristics."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "様々な種類のヒトの器官、組織、細胞におけるタンパク質の発現および局在に関するデータベースです。蛍光抗体イメージング、質量分析に基づくプロテオミクス、網羅的な遺伝子発現解析によるトランスクリプトミクスおよびシステム生物学の手法により得られた情報を遺伝子ごとに記載しています。各レコードは３つのアトラスで構成されています。\n「組織アトラス」：ヒトの主要組織や器官におけるRNA発現量、タンパク質発現量\n「細胞アトラス」：RNA発現量や発現画像、GFP発現画像など細胞内での局在\n「疾病アトラス」：生存がん患者の組織における量的発現解析（RNA-seq）や空間的発現解析（マイクロアレイ）によるタンパク質発現レベル\nまた、抗体の情報、細胞内器官の説明、各組織における腫瘍の説明や生存率の情報なども収録しています。\n遺伝子名、抗体名、タンパク質の分類によるデータの絞り込みが可能です。"
                        },
                        "name": {
                          "type": "string",
                          "example": "Human Protein Atlas"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Uppsala University"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "Uppsala University"
                        }
                      }
                    },
                    "inchi_key": {
                      "type": "object"
                    },
                    "insdc": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "It is a portal site for the INSDC(International Nucleotide Sequence Database Collaboration), which is an initiative operated between DDBJ, EMBL-EBI and NCBI.  Each organization operates DNA databases in close coordination and cooperation with each other to achieve common accession numbers, and standardize data format (INSD-XML). The databases are called the International Nucleotide Sequence Databases (INSD)."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "本サイトは、３大DNAデータベースであるDDBJ、ENA(European Nucleotide Archive)、 NCBIの協力で運営されるINSDC(International Nucleotide Sequence Database Collaboration)のポータルサイトです。INSDCは連携して塩基配列のアクセションIDの共通化やデータ形式の統一(INSD-XML)などに取り組みながら、個々の拠点におけるWebサービスの開発が行われています。INSDCが連携して構築・運営しているデータベースは国際塩基配列データベース (International Nucleotide Sequence Databases, INSD) と呼ばれます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "INSDC"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "European Bioinformatics Institute (EMBL-EBI)"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "European Bioinformatics Institute (EMBL-EBI)"
                        }
                      }
                    },
                    "intact": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "IntAct is a database of molecular interactions. The database contains information on more than 400,000 interactions gathered from primary literature. Users can search by gene, protein, or publication, among others, and the database includes manually annotated data from several other interaction databases. Software and bulk data, updoated weekly, are also available for download."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "IntActはオープンソースの分子間相互作用のデータベースとツールキットで構成されています。データは文献から取得したり、専門家によって蓄積されたデータから構成されています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "IntAct"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "European Bioinformatics Institute"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "European Bioinformatics Institute"
                        }
                      }
                    },
                    "interpro": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "InterPro is a database that analyses proteins functionally and classifies them into families as well as predicts their domain and sites in the genome.\nThis repository harvests its content from a large number of related databases and consolidates its findings into a single searchable resource avoiding the occurrence of redundant entries.\nInterPro aims to update their content every 8 weeks.\nA keyword search is available and an option is provided where a protein sequence can be entered for analysis."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "EBI によるタンパク質のファミリー分類、ドメイン、機能サイトに関する記述を収集した統合データベースです。UniProtやPROSITE、PANTHER、ProDom、SMARTなどタンパク質の特性を収録している複数のデータベースを集結し、様々なレベルでのタンパク質の特徴を提供しています。InterProScanを用いて、ユーザが入力した配列から機能ドメインや構造ドメインを検索することができます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "InterPro"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "European Bioinformatics Institute"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "European Bioinformatics Institute"
                        }
                      }
                    },
                    "kegg_compound": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "KEGG COMPOUND is a database of biologically relevant compounds, including chemical structures and associated information for compounds in the KEGG database such as small molecules, biopolymers, and other related substances. The site also has a collection of links to other relevant KEGG resources such as GLYCAN."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "KEGG COMPOUNDは、小分子、生体高分子、および生体関連化学物質のデータベースです。 各エントリーはC番号とよばれるアクセッション番号で識別され、化学構造や関連する生体反応、パスウエイ、他のデータベースとのリンク情報が含まれています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "KEGG COMPOUND"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Kyoto University Institute for Chemical Research Bioinformatics Center"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "京都大学　化学研究所　附属バイオインフォマティクスセンター"
                        }
                      }
                    },
                    "kegg_disease": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "KEGG DISEASE is a database of human diseases with information on perturbed molecular networks. Each disease entry contains a list of known disease genes, environmental factors (carcinogens, pathogens, etc), diagnostic markers and therapeutic drugs with reference information. This database provides maps of molecular networks associated with diseases through links to the KEGG PATHWAY database. Users can search human diseases by names, description, categories, pathways, and known causative genes."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "KEGG DISEASEは、遺伝要因が既知の疾患（単一遺伝子疾患及び多因子性疾患）と病原体ゲノムが既知の感染症疾患に関する情報を、計算処理が可能な形に集約したデータベースです。各疾患エントリは H番号とよばれるアクセッション番号で識別され、関連するパスウエイ、病因遺伝子のリスト、ならびに環境要因、診断マーカー、治療薬などの分子のリストで表現されています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "KEGG DISEASE"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Kyoto University Institute for Chemical Research Bioinformatics Center"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "京都大学　化学研究所　附属バイオインフォマティクスセンター"
                        }
                      }
                    },
                    "kegg_drug": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "KEGG DRUG is a comprehensive database of drug information about all marketed drugs in Japan, as well as many prescription drugs in USA and Europe. KEGG DRUG is based on chemical structure or component, and each entry contains information about drug targets (pathways), metabolizing enzymes and other interacting molecules. This database also includes crude drugs and TCM (Tradictional Chinese Medicine). Users can check for drug-drug interaction, view structure maps representing the history of drug development and search drugs by generic names, trade names, and components."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "KEGG DRUG は、日本、米国、欧州の医薬品情報を、化学構造と成分の観点から一元的に集約・管理したデータベースです。とくに日本の医薬品は医療用（処方薬）だけでなく一般用（大衆薬、OTC薬）もすべて網羅し、個々の製品情報（添付文書情報）へのリンクがつけられています。また化学薬品だけでなく、生薬・漢方方剤もデータベース化されています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "KEGG DRUG"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Kyoto University Institute for Chemical Research Bioinformatics Center"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "京都大学　化学研究所　附属バイオインフォマティクスセンター"
                        }
                      }
                    },
                    "kegg_genes": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "KEGG geneS is a catalog of gene information for multiple species with species-specified gene information for all species with complete genome sequences. The database references primary sources and provides pathway, ortholog, paralog, and motif searching functions. Results of gene searches include nucleotide and protein information."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "KEGG GENESは、全ゲノム配列が決定された生物種について、その遺伝子セットをRefSeq その他の公共データベースから自動生成し、KEGG 独自のアノテーション（KO アノテーション）を行っているデータベースです。\n以前、VGENES (http://integbio.jp/dbcatalog/record/nbdc00820) や VGENOME (http://integbio.jp/dbcatalog/record/nbdc00821) に収録されていたウィルスに関する情報も収録されています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "KEGG GENES Database"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Kyoto University Institute for Chemical Research Bioinformatics Center"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "京都大学　化学研究所　附属バイオインフォマティクスセンター"
                        }
                      }
                    },
                    "kegg_orthology": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "KEGG ORTHOLOGY is a database of KEGG pathway ortholog groups, and contains the pathways at the core of the KEGG representation system. Users can search for ortholog groups and explore members across species."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "KEGG ORTHOLOGYは、KEGGパスウェイの各ノードまたはBRITE機能階層の最下層ノードに対応したオーソロググループを手作業で定義したものです。ゲノム中の各遺伝子にKO識別子（K番号）を付与することで、KEGGパスウェイやBRITE機能階層へのマッピング（エンリッチメント）が可能となります。KOシステムは、ゲノムの情報からパスウェイ等高次生命システム情報を解読するための架け橋となります。"
                        },
                        "name": {
                          "type": "string",
                          "example": "KEGG ORTHOLOGY (KO) Database"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Kyoto University Institute for Chemical Research Bioinformatics Center"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "京都大学　化学研究所　附属バイオインフォマティクスセンター"
                        }
                      }
                    },
                    "kegg_pathway": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "The KEGG PATHWAY database has manually drawn pathway maps that represent molecular interaction and reaction networks for the following: Global Map, Metabolism, genetic Information Processing, Cellular Processes, Organismal Systems, Human Diseases and also structure relationships in Drug Development. By using KEGG PATHWAY mapping, molecular datasets can be mapped for the biological interpretation of higher-level systemic functions."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "代謝、様々な細胞プロセス、ヒト疾患などに関する分子ネットワークの知識を表現したパスウェイマップを収録しています。マップは文献等から手作業で作成しています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "KEGG PATHWAY Database"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Kyoto University Institute for Chemical Research Bioinformatics Center"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "京都大学　化学研究所　附属バイオインフォマティクスセンター"
                        }
                      }
                    },
                    "kegg_reaction": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "KEGG REACTION is a database of enzymatic reactions. The database contains all KEGG enzyme interactions and KEGG pathway metabolic reactions, including related pathways, and uses IUBMB nomenclature. Users can also find the reaction pathway of individual enzymes."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "KEGG REACTIONは、KEGG ENZYMEに格納されているすべての反応と、KEGG PATHWAYの代謝パスウエイの反応を蓄積したデータベースです。 各反応はR番号によって識別され、 反応の構造式や関連する酵素のオーソロググループが収集されており、ゲノム(酵素遺伝子)情報と化学(化合物のペア)情報の統合解析を可能としています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "KEGG REACTION"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Kyoto University Institute for Chemical Research Bioinformatics Center"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "京都大学　化学研究所　附属バイオインフォマティクスセンター"
                        }
                      }
                    },
                    "lrg": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "LRG is a database of stable genomic, transcript and protein reference sequences for reporting clinically relevant sequence variants. NCBI (RefSeq) and EMBL-EBI (Ensembl/GENCODE) are working together to rationalise differences in their gene sets. Records contain information about genomic, transcript and protein sequences, annotations, maps about the genome assembly, etc. This database allows users to search using LRG identifier, HGNC gene name, NCBI and Ensembl accession numbers (gene or transcript), gene synonym or LRG status (public or pending). Genome browsers on Ensembl, NCBI and UCSC are available."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "ゲノム、転写産物、タンパク質のリファレンス配列のデータベースです。臨床に関連する変異配列を報告するためのリファレンス配列を、 NCBI（RefSeq）とEMBL-EBI（Ensembl / GENCODE）の協力により情報統合しています。 各レコードには、ゲノム、転写産物、タンパク質の配列、アノテーション、ゲノムアセンブリに関するマップなどが含まれています。LRG番号、HGNC遺伝子名、NCBIやEnsemblのID番号（遺伝子、転写産物）、遺伝子の同義語、公開非公開の別による絞り込みが可能です。また、Ensembl、NCBI、UCSCのゲノムブラウザが利用可能です。"
                        },
                        "name": {
                          "type": "string",
                          "example": "LRG"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "European Bioinformatics Institute (EMBL-EBI)"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "European Bioinformatics Institute (EMBL-EBI)"
                        }
                      }
                    },
                    "mbgd_gene": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "MBGD is a database with a workbench system for comparative analysis of completely sequenced microbial genomes, mainly for creating orthologous or homologous gene cluster tables. MBGD classifies genomes by the hierarchical clustering method known as UPGMA, using precomputed similarity relationships identified by all-against-all BLAST search. Users can change the set of organisms or cutoff parameters to create their own orthologous groupings. Thus comparative genomics is facilitated from various points of view such as ortholog identification, paralog clustering, motif analysis and gene order comparison."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "オーソログ解析に基づいて微生物ゲノムの比較解析を行うためのデータベースです。公開されたゲノム全体を含む標準オーソログテーブルに基づいて、各オーソロググループの系統プロファイルの比較などを行えるほか、動的なオーソログ解析機能によって、利用者自身が持つゲノム配列も含めて、興味のある生物種セットに対象を絞った比較を行うこともできます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "MBGD"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Institute for Basic Biology"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "自然科学研究機構　基礎生物学研究所"
                        }
                      }
                    },
                    "mbgd_organism": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "MBGD is a database with a workbench system for comparative analysis of completely sequenced microbial genomes, mainly for creating orthologous or homologous gene cluster tables. MBGD classifies genomes by the hierarchical clustering method known as UPGMA, using precomputed similarity relationships identified by all-against-all BLAST search. Users can change the set of organisms or cutoff parameters to create their own orthologous groupings. Thus comparative genomics is facilitated from various points of view such as ortholog identification, paralog clustering, motif analysis and gene order comparison."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "オーソログ解析に基づいて微生物ゲノムの比較解析を行うためのデータベースです。公開されたゲノム全体を含む標準オーソログテーブルに基づいて、各オーソロググループの系統プロファイルの比較などを行えるほか、動的なオーソログ解析機能によって、利用者自身が持つゲノム配列も含めて、興味のある生物種セットに対象を絞った比較を行うこともできます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "MBGD"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Institute for Basic Biology"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "自然科学研究機構　基礎生物学研究所"
                        }
                      }
                    },
                    "meddra": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "MedDRA is a standardized medical terminology for regulatory information of medical products. It is available for use in the registration, documentation and safety monitoring of medical products. It is provided in many languages, which are Chinese, Czech, Dutch, French, German, Hungarian, Italian, Japanese, Korean, Portuguese, Portuguese - Brazilian, Russian, and Spanish in addition to English Master."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "MedDRAは人間が使用する医薬品の規制情報を国際的に共有しやすくするために作成された、標準化された国際医療用語集です。英語版の他に、中国語、チェコ語、オランダ語、フランス語、ドイツ語、ハンガリー語、イタリア語、日本語、韓国語、ポルトガル語、ポルトガル語（ブラジル語）、ロシア語、スペイン語で提供されています。英国の医薬品医療製品規制庁（MHRA）に属する用語に基づいて、WHOを含むICHパートナーによって開発されました。サブスクリプションレベルにより有償・無償が異なります。"
                        },
                        "name": {
                          "type": "string",
                          "example": "MedDRA"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "The International Council for Harmonisation of Technical Requirements for Pharmaceuticals for Human Use (ICH)"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "医薬品規制調和国際会議（ICH）"
                        }
                      }
                    },
                    "medgen": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "MedGen is a portal database about conditions and phenotypes related to Medical Genetics. It aggregates terms from the NIH Genetic Testing Registry (GTR), UMLS, HPO, Orphanet, ClinVar and other sources into concepts, and assigns a unique identifier and a preferred name and symbol. Each entry includes names, identifiers used by other databases, mode of inheritance, clinical features, and map location of the loci affecting the disorder. This database provides links to such resources as:\nGenetic tests registered in the NIH Genetic Testing Registry (GTR), GeneReviews, ClinVar, OMIM, Related genes, Disorders with similar clinical features, Medical and research literature, Practice guidelines, Consumer resources, Ontologies such as HPO and ORDO."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "遺伝医学に関連する症状や表現型に関する情報を集約したポータルデータベースです。NIHのGTR、UMLS、HPO、Orphanet、ClinVar、その他のソースから得られた用語を概念に集約し、一意の識別子（CUI）と優先名を割り当てます。 各エントリーには、名称、他のデータベースで使用される識別子、遺伝様式、臨床的特徴、疾患に影響を与える遺伝子座の地図上の位置が含まれます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "MedGen"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information (NCBI)"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information (NCBI)"
                        }
                      }
                    },
                    "mesh": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "This is a database of keywords representing the content of articles and biological information. The keywords are structured in layers to allow users to find more detailed information or perform abstract searches."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "文献や、生物学情報の内容を表すキーワードのデータベースです。このキーワードを利用することで関連する生物学情報を得ることができます。キーワードは階層構造をなしており、より詳細に情報をたどることも、より抽象的な検索をすることも可能です。"
                        },
                        "name": {
                          "type": "string",
                          "example": "MeSH"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        }
                      }
                    },
                    "mgi": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "This is a comprehensive site for mouse research. The site contains detailed information on mouse genes, gene expression data, polymorphisms and mutations, pathways, data on model rats for hereditary cancers, and phenotypes of each mouse model system. They have developed and provided The Human - Mouse: Disease Connection (HMDC) and Mammalian Phenotype Ontology."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "マウス研究の総合サイトです。マウス遺伝子に関する情報の他、遺伝子発現データ、多型・変異情報、パスウエイ、遺伝性癌症候群モデルラットに関するデータ、マウス各系統の表現型に関する詳細な情報等を提供しています。Mammalian Phenotype Ontology を作成管理しており、 オントロジーの検索・閲覧もできます(http://www.informatics.jax.org/vocab/mp_ontology) 。Human - Mouse: Disease Connection (HMDC) により、ヒトとマウスの遺伝子や表現型を統合して検索ができます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "MGI"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "The Jackson Laboratory"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "The Jackson Laboratory"
                        }
                      }
                    },
                    "mirbase": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "miRBase is a database for published microRNA sequences and annotations, which include mature miRNA sequences (indicated by miR), and hairpin structures predicted by sequences that are precursors for miRNA (indicated by mir). A variety of search methods can be used, including by keyword, genomic position, cluster, expression data, and user-provided sequences. Furthermore, these sequences and annotations can be downloaded."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "公開されているmicroRNAの配列について、配列から予測されるmiRNA前駆体のヘアピン構造(mirで示されます)、成熟miRNAの配列(miRで示されます)、文献情報等が登録されています。様々な検索機能が用意されており、キーワード検索、ゲノム位置による検索、クラスター検索、発現実験による検索、ユーザ自身の配列による検索が行えます。全ての配列とアノテーションはダウンロード可能です。"
                        },
                        "name": {
                          "type": "string",
                          "example": "miRBase"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Faculty of Life Sciences(The University of Manchester)"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "Faculty of Life Sciences (The University of Manchester)"
                        }
                      }
                    },
                    "mondo": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "Mondo is an ontology for integrating disease definitions. It collects disease definitions and data models from numerous sources, which include HPO, OMIM, SNOMED CT, ICD, PhenoDB, MedDRA, MedGen, ORDO, DO, GARD, etc. It provides a hierarchical structure which can be used for classification or \"rolling up\" diseases to higher level groupings."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "疾病の定義を統合して構築したオントロジーです。疾病を定義しデータモデルを収録している多くのデータベース（HPO、OMIM、SNOMED CT、ICD、PhenoDB、MedDRA、MedGen、ORDO、DO、GARDなど）から情報を収集しています。開発当初は半自動で構築されていましたが、広範囲に渡り手動でキュレーションされるようになってきています。疾病の個々の症状、特徴の説明はHPOに準拠しており、疾病は階層構造で表示できます。OWL形式を利用したmondo-with-equivalent、obo、jsonの３つのフォーマットで利用可能です。"
                        },
                        "name": {
                          "type": "string",
                          "example": "MONDO"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Monarch Initiative"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "Monarch Initiative"
                        }
                      }
                    },
                    "nando": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "NanbyoData provides informative data related to intractable diseases using Nanbyo Disease Ontology (NANDO). Designated intractable diseases and chronic specific pediatric diseases in Japan are the subject diseases. NANDO, and genes and phenotypes related intractable diseases are downloadable."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "NanbyoDataは難病オントロジー（Nanbyo Disease Ontology, NANDO）を介して国内外の難病関連情報を集積したサイトです。日本の難病関連制度である指定難病・小児慢性特定疾病の対象疾患に関して詳細な分類までを網羅し、その概要（日英）とOMIM、Orphanet、MedGen、Monarch Initiative、KEGG Diseaseへのリンク情報を提供しています。NANDOはサイトからダウンロードして利用できる他、語彙一覧 (http://nanbyodata.jp/ontology/nando) と階層構造 (http://bioportal.bioontology.org/ontologies/NANDO/?p=classes&conceptid=root) がweb上から参照できます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "NanbyoData"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Research Organization of Information and Systems Database Center for Life Science"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "情報・システム研究機構　ライフサイエンス統合データベースセンター"
                        }
                      }
                    },
                    "ncbigene": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "The gene database provides information on gene sequence, structure, location, and function for annotated genes from the NCBI database. Users can search by accession ID or keyword, compare and identify sequences using BLAST, or submit references into function (RIFs) based on experimental results. Bulk download and an update mailing list are available."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "生物種別の遺伝子単位でエントリーを構成しており、NCBIの様々なデータベースを統合的に利用して遺伝子情報を掲載しています。染色体上の位置、配列、発現、構造、機能、ホモロジーデータのような遺伝子をベースとした情報を提供しています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "NCBI Gene"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        }
                      }
                    },
                    "ncbiprotein": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "NCBI is a portal site for US biological study data. The site contains links to several NIH research resources, most of which are repositories for submission of data from government-funded and/or published projects. Users can search the entire NCBI collection or perform keyword searches of a specific database from the NCBI search bar. Constituent databases contain a wealth of data for download."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "NCBI（米国立バイオテクノロジー情報センター）は、NIH（米国立衛生研究所）のNLM（米国立医学図書館）の一部門として1988年に設立されたバイオインフォマティクス研究組織です。1989年にBLAST、1990年に検索システムEntrezを開発しました。現在では、NCBI内の各種データベースに対する検索を統一的なインタフェースで行えるようにしています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "NCBI"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        }
                      }
                    },
                    "oma_group": {
                      "type": "object"
                    },
                    "oma_protein": {
                      "type": "object"
                    },
                    "omim_gene": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "OMIM is a database of human disease and genetic information and the online representation of Mendelian Inheritance in Man, a project initiated in the 1960s. The database summarizes heritable traits and provides information on both the trait and experimentally determined genetic causes. The database is manually curated by experts and can be searched by OMIM ID, gene, disease, or phenotype."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "Johns Hopkins大学のVictor A. McKusick 博士が中心となって記述、編集を行っている、ヒトの遺伝子変異と遺伝病のデータベースです。全ての既知のメンデル型遺伝病と12,000以上の遺伝子に関して、テキスト形式の情報やリファレンスが示されます。MEDLINEやEntrezのリンクも含まれます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "OMIM"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        }
                      }
                    },
                    "omim_phenotype": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "OMIM is a database of human disease and genetic information and the online representation of Mendelian Inheritance in Man, a project initiated in the 1960s. The database summarizes heritable traits and provides information on both the trait and experimentally determined genetic causes. The database is manually curated by experts and can be searched by OMIM ID, gene, disease, or phenotype."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "Johns Hopkins大学のVictor A. McKusick 博士が中心となって記述、編集を行っている、ヒトの遺伝子変異と遺伝病のデータベースです。全ての既知のメンデル型遺伝病と12,000以上の遺伝子に関して、テキスト形式の情報やリファレンスが示されます。MEDLINEやEntrezのリンクも含まれます。"
                        },
                        "name": {
                          "type": "string",
                          "example": "OMIM"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        }
                      }
                    },
                    "orphanet": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "Orphanet is a portal site for rare diseases and orphan drugs. It provides inventory of rare diseases and classification, inventory of orphan drugs, clinical trials, etc."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "Orphanetは希少疾患患者の診断と治療の向上を図ることを目的とした、希少疾患や希少疾患用医薬品について様々な情報を参照可能にしたデータベースです。疾患や薬に関する一般的な情報をはじめとして、臨床試験情報、関連する論文や、有病率、発症歴、症状、地域情報などを検索可能です。"
                        },
                        "name": {
                          "type": "string",
                          "example": "Orphanet"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "Orphanet"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "フランス国立保健医学研究所"
                        }
                      }
                    },
                    "pdb": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "This is an international public repository for three-dimensional structures and structure coordinates (conformations) of proteins and nucleic acids, and the central database for biological structural data. Data obtained through X-ray crystallography and NMR experiments are stored in PDB. In addition to three-dimensional information of proteins, users can find amino acid sequences, protein-related information on GO, and other compounds bound to the protein."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "タンパク質と核酸の３次元構造の構造座標（立体配座）を蓄積している国際的な公共レポジトリです。\n　RCSB PDB （https://integbio.jp/dbcatalog/record/nbdc01865 ）\n　PDBe （https://integbio.jp/dbcatalog/record/nbdc00613 ）\n　PDBj （https://integbio.jp/dbcatalog/record/nbdc00157 ）\n　BMRB （https://integbio.jp/dbcatalog/record/nbdc00380 ）\n上記４つデータベースの集合体として、X線結晶構造解析やNMRなどで実験的に決定されたタンパク質の立体構造データの他に、アミノ酸配列、GOといったタンパク質に関する情報やタンパク質に結合している化合物の情報を統合し提供しています。検証データ登録のためのツールや登録データのダウンロードが可能なFTPサイトを装備しています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "wwPDB"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "wwPDB consortium"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "wwPDB consortium"
                        }
                      }
                    },
                    "pfam": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "Pfam Version 26.0 is a comprehensive database of protein families containing multiple sequence alignments and HMMs.\nThis repository provides data on 13,672 protein families.\nThe site can be searched with a known protein sequence for matching families. \nOptions to search for a Pfam family, clan, sequence or structure are available.\nA keyword search option is also provided."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "現在最もよく整備されたタンパク質ドメインデータベースの一つで、膨大な数のタンパク質ファミリーのコレクションを保持しています。手作業で分類を行った高品質のPfam-Aと、機械的に分類を行ったPfam-Bから構成されています。最大の特徴は、検索システムとしてHMMERというプログラムを使用している点であり、これにより高速で精度の高いモチーフの検索を可能にしています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "Pfam"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "EMBL-EBI"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "EMBL-EBI"
                        }
                      }
                    },
                    "pubchem_compound": {
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "example": "PubChem Compound is a database of chemical structrues of validated small molecules. The dataase contains entries for PubChem entities which are grouped by structural identity and similarity. Users can submit compounds and download via FTP."
                        },
                        "description_ja": {
                          "type": "string",
                          "example": "化合物名や分子量、CompoundIDなどで化合物の情報を検索することができるサイトです。医薬品名やその効能、LogP値などの物性値も掲載されています。また、類似構造を持つ別の化合物の検索も可能です。PubChem Substanceが一つの化合物に対して異なる情報をもつ複数のエントリをもつ可能性があるのに対し、PubChem CompoundはPubChem Substanceで得られた種々の情報を一つのエントリに集約して提供しています。"
                        },
                        "name": {
                          "type": "string",
                          "example": "PubChem Compound"
                        },
                        "organization_en": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        },
                        "organization_ja": {
                          "type": "string",
                          "example": "National Center for Biotechnology Information"
                        }
                      }
                    },
                    "pubchem_substance": {
                      "properties": {
                        "description_en": {
                          "type": "string",
[...]
