{
  "openapi": "3.0.0",
  "info": {
    "title": "TogoID API",
    "version": "2.1.0"
  },
  "servers": [
    {
      "url": "https://api.togoid.dbcls.jp"
    }
  ],
  "tags": [
    {
      "name": "convert"
    },
    {
      "name": "count"
    },
    {
      "name": "config"
    },
    {
      "name": "search"
    },
    {
      "name": "lookup"
    },
    {
      "name": "route"
    }
  ],
  "paths": {
    "/convert": {
      "get": {
        "tags": [
          "convert"
        ],
        "summary": "Convert IDs",
        "operationId": "convertId",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "A comma-separated list of source IDs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "route",
            "in": "query",
            "description": "A comma-separated list of datasets, starts with the source dataset and ends with the target dataset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report",
            "in": "query",
            "description": "The output type can be selected from the following: 'target' (includes target IDs only), 'pair' (includes source and target IDs), 'all' (all converted IDs including source, target, and intermediate IDs of the route), or 'full' (all IDs including unconverted IDs).",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "pair",
                "target",
                "full"
              ],
              "default": "target"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The output format can be selected from 'tsv', 'csv', or 'json'.",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "tsv",
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to be returned.",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 10000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The position to start after the specified number of results.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "noheader",
            "in": "query",
            "description": "If '1' is specified, the header row will be omitted from the output. This parameter is only effective when the 'format' is 'csv' or 'tsv'.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "26199",
                        "38937",
                        "14027",
                        "21498",
                        "18185",
                        "1314",
                        "25960",
                        "2206",
                        "22224",
                        "19741"
                      ]
                    },
                    "route": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "hgnc",
                        "ensembl_gene"
                      ]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "ENSG00000100364",
                        "ENSG00000154719",
                        "ENSG00000116285",
                        "ENSG00000179454",
                        "ENSG00000085978",
                        "ENSG00000081052",
                        "ENSG00000006459",
                        "ENSG00000198088",
                        "ENSG00000134152",
                        "ENSG00000284140"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/count/{source}-{target}": {
      "get": {
        "tags": [
          "count"
        ],
        "summary": "Count IDs",
        "operationId": "countId",
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "List IDs separated by commas",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "source": {
                      "type": "integer",
                      "example": 2
                    },
                    "target": {
                      "type": "integer",
                      "example": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/dataset": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get all dataset config",
        "operationId": "getAllDataset",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "patternProperties": {
                    "^[a-z0-9_]+$": {
                      "type": "object",
                      "properties": {
                        "catalog": {
                          "type": "string",
                          "description": "Catalog identifier (e.g., 'nbdc00476', 'FIXME')"
                        },
                        "category": {
                          "type": "string",
                          "description": "Category of the dataset (e.g., 'Probe', 'Genome', 'Project', 'Drug')"
                        },
                        "description": {
                          "type": "string",
                          "description": "Human-readable description of the dataset"
                        },
                        "examples": {
                          "type": "array",
                          "description": "Example identifiers for this dataset",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "minItems": 1
                        },
                        "label": {
                          "type": "string",
                          "description": "Human-readable label for the dataset"
                        },
                        "method": {
                          "type": "string",
                          "description": "Optional method description for data extraction/processing"
                        },
                        "prefix": {
                          "type": "array",
                          "description": "URI prefixes for identifier resolution",
                          "items": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string",
                                "description": "Label for this prefix"
                              },
                              "rdf": {
                                "type": "boolean",
                                "description": "Whether this is an RDF prefix"
                              },
                              "uri": {
                                "type": "string",
                                "format": "uri",
                                "description": "URI prefix template"
                              }
                            },
                            "required": [
                              "label",
                              "uri"
                            ],
                            "additionalProperties": false
                          },
                          "minItems": 1
                        },
                        "regex": {
                          "type": "string",
                          "description": "Regular expression pattern for validating identifiers"
                        }
                      },
                      "required": [
                        "catalog",
                        "category",
                        "examples",
                        "label",
                        "prefix",
                        "regex"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false,
                  "minProperties": 1
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/dataset/{dataset}": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get selected dataset config",
        "operationId": "getDataset",
        "parameters": [
          {
            "name": "dataset",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "example": "UniProt"
                    },
                    "regex": {
                      "type": "string",
                      "example": "^(?:(?<id1>[A-NR-Z][0-9](?:[A-Z][A-Z0-9][A-Z0-9][0-9]){1,2}(?:-\\d+)?)|(?<id2>[OPQ][0-9][A-Z0-9][A-Z0-9][A-Z0-9][0-9](?:-\\d+)?)(?:\\.\\d+)?)$"
                    },
                    "prefix": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rdf": {
                            "type": "boolean"
                          },
                          "uri": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "uri"
                        ]
                      },
                      "example": [
                        {
                          "rdf": true,
                          "uri": "http://purl.uniprot.org/uniprot/",
                          "label": "UniProt"
                        },
                        {
                          "uri": "https://www.ebi.ac.uk/interpro/protein/",
                          "label": "InterPro"
                        }
                      ]
                    },
                    "catalog": {
                      "type": "string",
                      "example": "nbdc00221"
                    },
                    "category": {
                      "type": "string",
                      "example": "Protein"
                    },
                    "examples": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": [
                        [
                          "A0A174V9D2",
                          "A0A1V4U2Y9",
                          "Q7NXD4",
                          "P0AAM3",
                          "O43423",
                          "D4IJI4",
                          "Q66SS1",
                          "B5IDU9",
                          "D3TBR4",
                          "D4ILS5"
                        ]
                      ]
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string"
                          },
                          "variable": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "label",
                          "variable"
                        ]
                      },
                      "example": [
                        {
                          "label": "SwissProt",
                          "variable": "reviewed",
                          "items": [
                            "true",
                            "false"
                          ]
                        },
                        {
                          "label": "Short name",
                          "variable": "short_name"
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "label": "UniProt",
                  "regex": "^(?:(?<id1>[A-NR-Z][0-9](?:[A-Z][A-Z0-9][A-Z0-9][0-9]){1,2}(?:-\\d+)?)|(?<id2>[OPQ][0-9][A-Z0-9][A-Z0-9][A-Z0-9][0-9](?:-\\d+)?)(?:\\.\\d+)?)$",
                  "prefix": [
                    {
                      "rdf": true,
                      "uri": "http://purl.uniprot.org/uniprot/",
                      "label": "UniProt"
                    },
                    {
                      "uri": "https://www.ebi.ac.uk/interpro/protein/",
                      "label": "InterPro"
                    },
                    {
                      "uri": "https://globe.jpostdb.org/protein?id=",
                      "label": "jPOST"
                    },
                    {
                      "uri": "https://glycosmos.org/glycoproteins/show/uniprot/",
                      "label": "GlyCosmos"
                    },
                    {
                      "uri": "https://pharos.nih.gov/targets/",
                      "label": "Pharos"
                    },
                    {
                      "uri": "https://www.ebi.ac.uk/intact/search?query=id:",
                      "label": "IntAct"
                    },
                    {
                      "uri": "https://alphafold.ebi.ac.uk/entry/",
                      "label": "AlphaFold DB"
                    }
                  ],
                  "catalog": "nbdc00221",
                  "category": "Protein",
                  "examples": [
                    [
                      "A0A174V9D2",
                      "A0A1V4U2Y9",
                      "Q7NXD4",
                      "P0AAM3",
                      "O43423",
                      "D4IJI4",
                      "Q66SS1",
                      "B5IDU9",
                      "D3TBR4",
                      "D4ILS5"
                    ]
                  ],
                  "annotations": [
                    {
                      "items": [
                        "true",
                        "false"
                      ],
                      "label": "SwissProt",
                      "variable": "reviewed"
                    },
                    {
                      "label": "Short name",
                      "variable": "short_name"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/relation": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get all database relation",
        "operationId": "getAllRelation",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "patternProperties": {
                    "^[a-z0-9_]+-[a-z0-9_]+$": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "description": "Label describing the source-to-target relationship"
                                }
                              },
                              "required": [
                                "label"
                              ],
                              "additionalProperties": false
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "description": "Label describing the target-to-source relationship"
                                }
                              },
                              "required": [
                                "label"
                              ],
                              "additionalProperties": false
                            }
                          },
                          "required": [
                            "forward",
                            "reverse"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "link"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false,
                  "minProperties": 1,
                  "example": {
                    "ncbigene-hgnc": {
                      "link": {
                        "forward": {
                          "label": "is equivalent to"
                        },
                        "reverse": {
                          "label": "is equivalent to"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/relation/{source}-{target}": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get selected database relation",
        "operationId": "getRelation",
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "link": {
                      "type": "object",
                      "properties": {
                        "forward": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "example": "is attached to"
                            }
                          }
                        },
                        "reverse": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "example": "is modified with"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/search/databases/{name}": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Search databases by partial name match",
        "operationId": "searchDatabases",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Partial database name to search for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "ncbigene",
                    "ensembl_gene",
                    "hgnc"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/search/id/{id_string}": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Find databases matching an ID pattern using regex",
        "operationId": "searchByIdPattern",
        "parameters": [
          {
            "name": "id_string",
            "in": "path",
            "description": "ID string to match against database regex patterns",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "NM_001110",
                    "GCA_000001405"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/lookup/id/{id_string}": {
      "get": {
        "tags": [
          "lookup"
        ],
        "summary": "Find tables containing a specific ID (2-stage approach)",
        "operationId": "lookupId",
        "parameters": [
          {
            "name": "id_string",
            "in": "path",
            "description": "ID to look up in database tables",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "NM_001110",
                    "1553582_a_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/route/{src}/{dst}": {
      "get": {
        "tags": [
          "route"
        ],
        "summary": "Find all routes between databases with configurable max_hops",
        "operationId": "findRoute",
        "parameters": [
          {
            "name": "src",
            "in": "path",
            "description": "Source database name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dst",
            "in": "path",
            "description": "Destination database name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_hops",
            "in": "query",
            "description": "Maximum number of hops (default: 3, max: 5)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 3,
              "minimum": 1,
              "maximum": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "example": [
                    [
                      "ncbigene",
                      "ensembl_gene"
                    ],
                    [
                      "ncbigene",
                      "hgnc",
                      "ensembl_gene"
                    ]
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/descriptions": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get database description",
        "operationId": "getDescription",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "patternProperties": {
                    "^[a-z0-9_]+$": {
                      "type": "object",
                      "properties": {
                        "description_en": {
                          "type": "string",
                          "description": "English description of the dataset or resource"
                        },
                        "description_ja": {
                          "type": "string",
                          "description": "Japanese description of the dataset or resource"
                        },
                        "name": {
                          "type": "string",
                          "description": "Display name of the dataset"
                        },
                        "organization_en": {
                          "type": "string",
                          "description": "Organization name in English"
                        },
                        "organization_ja": {
                          "type": "string",
                          "description": "Organization name in Japanese"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false,
                  "minProperties": 1,
                  "example": {
                    "bioproject": {
                      "description_en": "BioProject collects results of research projects and links to generated datasets.",
                      "description_ja": "研究プロジェクト起点でデータセットを整理したデータベースです。",
                      "name": "BioProject",
                      "organization_en": "National Center for Biotechnology Information",
                      "organization_ja": "National Center for Biotechnology Information"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/statistics": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get database statistics",
        "operationId": "getStatistics",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "example": 1000000
                      },
                      "last_updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-01-15T12:00:00Z"
                      }
                    }
                  },
                  "example": {
                    "ncbigene-ensembl_gene": {
                      "count": 1000000,
                      "last_updated_at": "2025-01-15T12:00:00Z"
                    },
                    "ncbigene-hgnc": {
                      "count": 500000,
                      "last_updated_at": "2025-01-15T12:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/taxonomy": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get taxonomy list",
        "operationId": "getTaxonomy",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "example": {
                    "ncbigene": "gene",
                    "ensembl_gene": "gene",
                    "hgnc": "gene"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    }
  }
}
