{
  "openapi": "3.0.0",
  "info": {
    "title": "TogoID API",
    "version": "2.1.0"
  },
  "servers": [
    {
      "url": "https://api.togoid.dbcls.jp"
    }
  ],
  "tags": [
    {
      "name": "convert"
    },
    {
      "name": "count"
    },
    {
      "name": "config"
    }
  ],
  "paths": {
    "/convert": {
      "get": {
        "tags": [
          "convert"
        ],
        "summary": "Convert IDs",
        "operationId": "convertId",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "A comma-separated list of source IDs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "route",
            "in": "query",
            "description": "A comma-separated list of datasets, starts with the source dataset and ends with the target dataset.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report",
            "in": "query",
            "description": "The output type can be selected from the following: 'target' (includes target IDs only), 'pair' (includes source and target IDs), 'all' (all converted IDs including source, target, and intermediate IDs of the route), or 'full' (all IDs including unconverted IDs).",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "pair",
                "target",
                "full"
              ],
              "default": "target"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The output format can be selected from 'tsv', 'csv', or 'json'.",
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "tsv",
                "json"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to be returned.",
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "default": 10000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The position to start after the specified number of results.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "noheader",
            "in": "query",
            "description": "If '1' is specified, the header row will be omitted from the output. This parameter is only effective when the 'format' is 'csv' or 'tsv'.",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "26199",
                        "38937",
                        "14027",
                        "21498",
                        "18185",
                        "1314",
                        "25960",
                        "2206",
                        "22224",
                        "19741"
                      ]
                    },
                    "route": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "hgnc",
                        "ensembl_gene"
                      ]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "ENSG00000100364",
                        "ENSG00000154719",
                        "ENSG00000116285",
                        "ENSG00000179454",
                        "ENSG00000085978",
                        "ENSG00000081052",
                        "ENSG00000006459",
                        "ENSG00000198088",
                        "ENSG00000134152",
                        "ENSG00000284140"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/count/{source}-{target}": {
      "get": {
        "tags": [
          "count"
        ],
        "summary": "Count IDs",
        "operationId": "countId",
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "List IDs separated by commas",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "source": {
                      "type": "integer",
                      "example": 2
                    },
                    "target": {
                      "type": "integer",
                      "example": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/dataset": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get all dataset config",
        "operationId": "getAllDataset",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "label": { "type": "string" },
                          "regex": { "type": "string" },
                          "format": {
                            "type": "array",
                            "items": { "type": "string" }
                          },
                          "method": { "type": "string" },
                          "prefix": {
                            "oneOf": [
                              { "type": "string" },
                              {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "uri": { "type": "string" },
                                    "label": { "type": "string" },
                                    "rdf": { "type": "boolean" }
                                  }
                                }
                              }
                            ]
                          },
                          "catalog": { "type": "string" },
                          "category": { "type": "string" },
                          "examples": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": { "type": "string" }
                            }
                          },
                          "description": { "type": "string" },
                          "annotations": {
                            "type": "array",
                            "items": { "type": "object" }
                          },
                          "label_resolver": { "type": "string" },
                          "taxonomy": { "type": "boolean" },
                          "sparqlist": { "type": "string" },
                          "label_types": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "label": { "type": "string" },
                                "preferred": { "type": "boolean" },
                                "label_type": { "type": "string" }
                              }
                            }
                          },
                          "dictionaries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "label": { "type": "string" },
                                "preferred": { "type": "boolean" },
                                "dictionary": { "type": "string" }
                              }
                            }
                          }
                        },
                        "additionalProperties": true
                      },
                      { "type": "boolean" },
                      { "type": "string" }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/dataset/{dataset}": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get selected dataset config",
        "operationId": "getDataset",
        "parameters": [
          {
            "name": "dataset",
            "in": "path",
            "description": "A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "example": "UniProt"
                    },
                    "regex": {
                      "type": "string",
                      "example": "^(?:(?<id1>[A-NR-Z][0-9](?:[A-Z][A-Z0-9][A-Z0-9][0-9]){1,2}(?:-\\d+)?)|(?<id2>[OPQ][0-9][A-Z0-9][A-Z0-9][A-Z0-9][0-9](?:-\\d+)?)(?:\\.\\d+)?)$"
                    },
                    "prefix": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rdf": {
                            "type": "boolean"
                          },
                          "uri": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "uri"
                        ]
                      },
                      "example": [
                        {
                          "rdf": true,
                          "uri": "http://purl.uniprot.org/uniprot/",
                          "label": "UniProt"
                        },
                        {
                          "uri": "https://www.ebi.ac.uk/interpro/protein/",
                          "label": "InterPro"
                        }
                      ]
                    },
                    "catalog": {
                      "type": "string",
                      "example": "nbdc00221"
                    },
                    "category": {
                      "type": "string",
                      "example": "Protein"
                    },
                    "examples": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "example": [
                        [
                          "A0A174V9D2",
                          "A0A1V4U2Y9",
                          "Q7NXD4",
                          "P0AAM3",
                          "O43423",
                          "D4IJI4",
                          "Q66SS1",
                          "B5IDU9",
                          "D3TBR4",
                          "D4ILS5"
                        ]
                      ]
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string"
                          },
                          "variable": {
                            "type": "string"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "label",
                          "variable"
                        ]
                      },
                      "example": [
                        {
                          "label": "SwissProt",
                          "variable": "reviewed",
                          "items": [
                            "true",
                            "false"
                          ]
                        },
                        {
                          "label": "Short name",
                          "variable": "short_name"
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "label": "UniProt",
                  "regex": "^(?:(?<id1>[A-NR-Z][0-9](?:[A-Z][A-Z0-9][A-Z0-9][0-9]){1,2}(?:-\\d+)?)|(?<id2>[OPQ][0-9][A-Z0-9][A-Z0-9][A-Z0-9][0-9](?:-\\d+)?)(?:\\.\\d+)?)$",
                  "prefix": [
                    {
                      "rdf": true,
                      "uri": "http://purl.uniprot.org/uniprot/",
                      "label": "UniProt"
                    },
                    {
                      "uri": "https://www.ebi.ac.uk/interpro/protein/",
                      "label": "InterPro"
                    },
                    {
                      "uri": "https://globe.jpostdb.org/protein?id=",
                      "label": "jPOST"
                    },
                    {
                      "uri": "https://glycosmos.org/glycoproteins/show/uniprot/",
                      "label": "GlyCosmos"
                    },
                    {
                      "uri": "https://pharos.nih.gov/targets/",
                      "label": "Pharos"
                    },
                    {
                      "uri": "https://www.ebi.ac.uk/intact/search?query=id:",
                      "label": "IntAct"
                    },
                    {
                      "uri": "https://alphafold.ebi.ac.uk/entry/",
                      "label": "AlphaFold DB"
                    }
                  ],
                  "catalog": "nbdc00221",
                  "category": "Protein",
                  "examples": [
                    [
                      "A0A174V9D2",
                      "A0A1V4U2Y9",
                      "Q7NXD4",
                      "P0AAM3",
                      "O43423",
                      "D4IJI4",
                      "Q66SS1",
                      "B5IDU9",
                      "D3TBR4",
                      "D4ILS5"
                    ]
                  ],
                  "annotations": [
                    {
                      "items": [
                        "true",
                        "false"
                      ],
                      "label": "SwissProt",
                      "variable": "reviewed"
                    },
                    {
                      "label": "Short name",
                      "variable": "short_name"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/config/relation": {
      "get": {
        "tags": [
          "config"
        ],
        "summary": "Get all database relation",
        "operationId": "getAllRelation",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "affy_probeset-ncbigene": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "detects"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is target of"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chebi-inchi_key": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is represented as"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "represents"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_compound-chebi": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_compound-chembl_target": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "interacts with"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "interacts with"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_compound-drugbank": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_compound-hmdb": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_compound-inchi_key": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is represented as"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "represents"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_compound-mesh": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has related disease"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is related with"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_compound-pubchem_compound": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_compound-pubchem_substance": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_compound-pubmed": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has reference"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is reference of"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_target-ensembl_gene": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is product of gene"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has gene product"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_target-go": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has GO cellular component"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is GO cellular component of"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_target-interpro": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has protein domain"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is in protein"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_target-pdb": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has 3D structure"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is 3D structure of"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_target-pfam": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has protein domain"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is in protein"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_target-reactome_pathway": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "participates in pathway"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has participant molecule"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "chembl_target-uniprot": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "clinvar-medgen": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has related disease"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is related with"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "doid-mesh": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "doid-omim_phenotype": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ensembl_gene-affy_probeset": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is target of"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "detects"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ensembl_gene-ensembl_protein": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has gene product"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is product of gene"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ensembl_gene-ensembl_transcript": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is transcribed to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is transcribed from"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ensembl_gene-hgnc": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ensembl_gene-ncbigene": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ensembl_gene-uniprot": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has gene product"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is product of gene"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ensembl_protein-ensembl_transcript": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is tranlated from"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is translated to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ensembl_transcript-affy_probeset": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is target of"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "detects"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ensembl_transcript-go": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has GO annotation"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is GO annotation of"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ensembl_transcript-hgnc": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is transcribed from"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is transcribed to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ensembl_transcript-refseq_rna": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "glytoucan-doid": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has related disease"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is related with"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "glytoucan-uniprot": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is attached to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is modified with"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-ccds": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-ec": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has EC number"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is EC number of"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-ensembl_gene": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-hgnc_symbol": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has synonym"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is synonym of"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-insdc": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-lrg": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-mgi": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is orthologous to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is orthologous to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-mirbase": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is transcribed to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is transcribed from"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-ncbigene": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-omim_gene": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-pubmed": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has reference"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is reference of"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-refseq_rna": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is transcribed to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is transcribed from"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-rgd": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is orthologous to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is orthologous to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "hgnc-uniprot": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has gene product"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is product of gene"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "homologene-ncbigene": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has orthologous group member"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is member of orthologous group"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "interpro-go": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has GO annotation"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is GO annotation of"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "interpro-pdb": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is in structure"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has protein domain"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "interpro-pfam": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "interpro-pubmed": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has reference"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is reference of"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "interpro-reactome_pathway": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "participates in pathway"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has protein domain in pathway"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "interpro-uniprot": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is in protein"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has protein domain"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "mbgd_gene-uniprot": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has gene product"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is product of gene"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "mbgd_organism-taxonomy": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "medgen-hp": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "medgen-mesh": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "medgen-mondo": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "medgen-ncbigene": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is related with"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has related disease"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "medgen-omim_phenotype": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "medgen-orphanet": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "mondo-doid": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "mondo-hp": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "mondo-meddra": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "mondo-mesh": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "mondo-omim_phenotype": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "mondo-orphanet": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "nando-mondo": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ncbigene-ensembl_gene": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ncbigene-ensembl_protein": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has gene product"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is product of gene"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ncbigene-ensembl_transcript": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is transcribed to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is transcribed from"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ncbigene-go": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "has GO annotation"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is GO annotation of"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "ncbigene-hgnc": {
                      "properties": {
                        "link": {
                          "type": "object",
                          "properties": {
                            "forward": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            },
                            "reverse": {
                              "type": "object",
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "example": "is nearly equivalent to"
                                }
                              }
                            }
                          }
[...]
