swagger: '2.0'
info:
  title: Togo ID API
  version: 2.0.0
host: api.togoid.dbcls.jp
schemes:
  - https
produces:
  - application/json
tags:
- name: "convert"
- name: "count"
- name: "config"
paths:
  /convert:
    get:
      tags: 
        - "convert"
      summary: Convert IDs
      operationId: convertId
      parameters:
        - name: ids
          in: query
          type: string
          description: A comma-separated list of source IDs.
          required: true
        - name: route
          in: query
          type: string
          description: A comma-separated list of datasets, starts with the source dataset and ends with the target dataset.
          required: true
        - name: report
          in: query
          type: string
          enum:
            - all
            - pair
            - target
            - full
          default: target
          description: "The output type can be selected from the following: 'target' (includes target IDs only), 'pair' (includes source and target IDs), 'all' (all converted IDs including source, target, and intermediate IDs of the route), or 'full' (all IDs including unconverted IDs)."
        - name: format
          in: query
          type: string
          enum:
          - csv
          - tsv
          - json
          default: json
          description: The output format can be selected from 'tsv', 'csv', or 'json'.
        - name: limit
          in: query
          type: integer
          default: 10000
          maximum: 10000
          description: The maximum number of results to be returned.
        - name: offset
          in: query
          type: integer
          default: 0
          description: The position to start after the specified number of results.
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            properties:
              ids:
                type: "string"
                example: 
                  - "26199"
                  - "38937"
                  - "14027"
                  - "21498"
                  - "18185"
                  - "1314"
                  - "25960"
                  - "2206"
                  - "22224"
                  - "19741"
              route:
                type: "string"
                example: 
                  - "hgnc"
                  - "ensembl_gene"
              result:
                type: "string"
                example:
                  - "ENSG00000100364"
                  - "ENSG00000154719"
                  - "ENSG00000116285"
                  - "ENSG00000179454"
                  - "ENSG00000085978"
                  - "ENSG00000081052"
                  - "ENSG00000006459"
                  - "ENSG00000198088"
                  - "ENSG00000134152"
                  - "ENSG00000284140"
        400:
          description: Bad request

  /count/{source}-{target}:
    get:
      tags: 
        - "count"
      summary: Count IDs 
      operationId: countId
      parameters:
        - name: source
          in: path
          type: string
          description: A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml
          required: true
        - name: target
          in: path
          type: string
          description: A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml
          required: true
        - name: ids
          in: query
          type: string
          description: List IDs separated by commas
          required: true
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            properties:
              source:
                type: "string"
                example: 2
              target:
                type: "string"
                example: 2

        400:
          description: Bad request

  /config/dataset:
    get:
      tags: 
        - "config"
      summary: Get all dataset config
      operationId: getAllDataset
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            properties:
              affy_probeset:
                properties:
                  label:
                    type: string
                    example: Affymetrix probeset
                  regex:
                    type: string
                    example: ^(?<id>\d{3,}(?:_[a-z])?_at)$
                  prefix:
                    type: string
                    example: http://identifiers.org/affy.probeset/
                  catalog:
                    type: string
                    example: FIXME
                  category:
                    type: string
                    example: Probe
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - 1553582_a_at
                      - 211531_x_at
                      - 202573_at
                      - 201640_x_at
                      - 205117_at
                      - 201017_at
                      - 205099_s_at
                      - 200614_at
                      - 201895_at
                      - 202666_s_at
              bioproject:
                properties:
                  label:
                    type: string
                    example: BioProject
                  regex:
                    type: string
                    example: ^(?<id>PRJ[DEN][A-Z]\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/bioproject/
                  catalog:
                    type: string
                    example: nbdc00476
                  category:
                    type: string
                    example: Project
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - PRJDB575
                      - PRJDB1880
                      - PRJDB478
                      - PRJDA45949
                      - PRJEB6285
                      - PRJEA28961
                      - PRJEB2222
                      - PRJNA30641
                      - PRJNA68235
                      - PRJNA42549
              biosample:
                properties:
                  label:
                    type: string
                    example: BioSample
                  regex:
                    type: string
                    example: ^(?<id>SAM[NED]\w?\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/biosample/
                  catalog:
                    type: string
                    example: nbdc01983
                  category:
                    type: string
                    example: Sample
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - SAMD00003683
                      - SAMD00006315
                      - SAMD00003741
                      - SAMD00011226
                      - SAMN13091859
                      - SAMN05877962
                      - SAMN05877838
                      - SAMEA104232303
                      - SAMEA4760552
                      - SAMEA1572228
              ccds:
                properties:
                  label:
                    type: string
                    example: Consensus CDS
                  regex:
                    type: string
                    example: ^(?<id>CCDS\d+)(?:\.\d+)?$
                  prefix:
                    type: string
                    example: http://identifiers.org/ccds/
                  catalog:
                    type: string
                    example: nbdc00023
                  category:
                    type: string
                    example: Gene
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - CCDS1471
                      - CCDS10913
                      - CCDS14790
                      - CCDS35175
                      - CCDS2395
                      - CCDS58412
                      - CCDS55555
                      - CCDS34401
                      - CCDS41889
                      - CCDS9052
                    - - CCDS1471.1
                      - CCDS10913.1
                      - CCDS14790.1
                      - CCDS35175.2
                      - CCDS2395.1
                      - CCDS58412.1
                      - CCDS55555.1
                      - CCDS34401.2
                      - CCDS41889.1
                      - CCDS9052.1
              chebi:
                properties:
                  label:
                    type: string
                    example: ChEBI compound
                  regex:
                    type: string
                    example: ^(?:CHEBI[:_])?(?<id>\d+)$
                  format:
                    type: string
                    example:
                    - '%s'
                    - CHEBI:%s
                    - CHEBI_%
                  prefix:
                    type: string
                    example: http://purl.obolibrary.org/obo/CHEBI_
                  catalog:
                    type: string
                    example: nbdc00027
                  category:
                    type: string
                    example: Compound
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "84824"
                      - "40167"
                      - "32807"
                      - "87666"
                      - "57524"
                      - "64860"
                      - "94440"
                      - "18005"
                      - "4806"
                      - "50158"
                    - - CHEBI:84824
                      - CHEBI:40167
                      - CHEBI:32807
                      - CHEBI:87666
                      - CHEBI:57524
                      - CHEBI:64860
                      - CHEBI:94440
                      - CHEBI:18005
                      - CHEBI:4806
                      - CHEBI:50158
                    - - CHEBI_84824
                      - CHEBI_40167
                      - CHEBI_32807
                      - CHEBI_87666
                      - CHEBI_57524
                      - CHEBI_64860
                      - CHEBI_94440
                      - CHEBI_18005
                      - CHEBI_4806
                      - CHEBI_50158
              chembl_compound:
                properties:
                  label:
                    type: string
                    example: ChEMBL compound
                  regex:
                    type: string
                    example: ^(?<id>CHEMBL\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/chembl.compound/
                  catalog:
                    type: string
                    example: nbdc02555
                  category:
                    type: string
                    example: Compound
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - CHEMBL121649
                      - CHEMBL190334
                      - CHEMBL3103282
                      - CHEMBL69329
                      - CHEMBL2105131
                      - CHEMBL2177390
                      - CHEMBL3091820
                      - CHEMBL1200335
                      - CHEMBL3094412
                      - CHEMBL67367
              chembl_target:
                properties:
                  label:
                    type: string
                    example: ChEMBL target
                  regex:
                    type: string
                    example: ^(?<id>CHEMBL\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/chembl.target/
                  catalog:
                    type: string
                    example: nbdc02555
                  category:
                    type: string
                    example: Protein
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - CHEMBL2788
                      - CHEMBL3091264
                      - CHEMBL3831324
                      - CHEMBL5524
                      - CHEMBL5597
                      - CHEMBL3983
                      - CHEMBL4187
                      - CHEMBL3391681
                      - CHEMBL5135
                      - CHEMBL1255130
              civic_gene:
                properties:
                  label:
                    type: string
                    example: CIVIC gene
                  regex:
                    type: string
                    example: ^(?<id>\d+)$
                  prefix:
                    type: string
                    example: http://civic.genome.wustl.edu/links/genes/
                  catalog:
                    type: string
                    example: nbdc02558
                  category:
                    type: string
                    example: Gene
              clinvar:
                properties:
                  label:
                    type: string
                    example: ClinVar variant
                  regex:
                    type: string
                    example: ^(VCV0*)?(?<id>(\d{1,9}))$
                  format:
                    type: string
                    example:
                    - '%s'
                    - VCV%09d
                  prefix:
                    type: string
                    example: http://identifiers.org/clinvar/
                  catalog:
                    type: string
                    example: nbdc01514
                  category:
                    type: string
                    example: Variant
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "658761"
                      - "619209"
                      - "745342"
                      - "11955"
                      - "731668"
                      - "724289"
                      - "725734"
                      - "743127"
                      - "789913"
                      - "5302"
                    - - VCV000658761
                      - VCV000619209
                      - VCV000745342
                      - VCV000011955
                      - VCV000731668
                      - VCV000724289
                      - VCV000725734
                      - VCV000743127
                      - VCV000789913
                      - VCV000005302
              dbsnp:
                properties:
                  label:
                    type: string
                    example: dbSNP
                  regex:
                    type: string
                    example: ^(?<id>rs\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/dbsnp/
                  catalog:
                    type: string
                    example: nbdc00206
                  category:
                    type: string
                    example: Variant
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - rs746303788
                      - rs1407020249
                      - rs374003162
                      - rs4647297
                      - rs549539526
                      - rs1387864740
                      - rs1177577242
                      - rs769848663
                      - rs16961655
                      - rs79135400
              dgidb:
                properties:
                  label:
                    type: string
                    example: DGIdb
                  regex:
                    type: string
                    example: ^[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}
                  prefix:
                    type: string
                    example: FIXME
                  catalog:
                    type: string
                    example: nbdc02562
                  category:
                    type: string
                    example: Interaction
              doid:
                properties:
                  label:
                    type: string
                    example: Disease ontology
                  regex:
                    type: string
                    example: ^DO(?:ID)?[:_](?<id>\d+)$
                  format:
                    type: string
                    example:
                    - DO:%s
                    - DOID:%s
                    - DOID_%s
                  prefix:
                    type: string
                    example: http://purl.obolibrary.org/obo/DOID_
                  catalog:
                    type: string
                    example: nbdc00261
                  category:
                    type: string
                    example: Disease
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - DO:9036
                      - DO:3159
                      - DO:10964
                      - DO:12698
                      - DO:0060459
                      - DO:11840
                      - DO:11339
                      - DO:914
                      - DO:9945
                      - DO:1407
                    - - DOID:9036
                      - DOID:3159
                      - DOID:10964
                      - DOID:12698
                      - DOID:0060459
                      - DOID:11840
                      - DOID:11339
                      - DOID:914
                      - DOID:9945
                      - DOID:1407
                    - - DOID_9036
                      - DOID_3159
                      - DOID_10964
                      - DOID_12698
                      - DOID_0060459
                      - DOID_11840
                      - DOID_11339
                      - DOID_914
                      - DOID_9945
                      - DOID_1407
              drugbank:
                properties:
                  label:
                    type: string
                    example: DrugBank
                  regex:
                    type: string
                    example: ^(?<id>DB\d{5})$
                  prefix:
                    type: string
                    example: http://identifiers.org/drugbank/
                  catalog:
                    type: string
                    example: nbdc01071
                  category:
                    type: string
                    example: Compound
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - DB15589
                      - DB13471
                      - DB05830
                      - DB07423
                      - DB07074
                      - DB08912
                      - DB02908
                      - DB05088
                      - DB05229
                      - DB08910
              ec:
                properties:
                  label:
                    type: string
                    example: Enzyme nomenclature
                  regex:
                    type: string
                    example: ^(?:EC:)?(?<id>\d+\.(?:(?:-\.-\.-)|\d+\.(?:(?:-\.-)|\d+\.(?:-|n?\d+))))$
                  format:
                    type: string
                    example:
                    - '%s'
                    - EC:%s
                  prefix:
                    type: string
                    example: http://identifiers.org/ec-code/
                  catalog:
                    type: string
                    example: nbdc01883
                  category:
                    type: string
                    example: Function
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - 1.6.3.1
                      - 2.4.1.353
                      - 1.1.1.288
                      - 1.5.1.2
                      - 3.1.1.71
                      - 1.3.1.31
                      - 3.5.1.29
                      - 1.16.1.1
                      - 3.1.3.48
                      - 2.3.1.138
                    - - EC:1.6.3.1
                      - EC:2.4.1.353
                      - EC:1.1.1.288
                      - EC:1.5.1.2
                      - EC:3.1.1.71
                      - EC:1.3.1.31
                      - EC:3.5.1.29
                      - EC:1.16.1.1
                      - EC:3.1.3.48
                      - EC:2.3.1.138
              ena:
                properties:
                  label:
                    type: string
                    example: ENA
                  regex:
                    type: string
                    example: ^(?:ena\.embl:)?(?<id>[A-Z]+[0-9]+)(?:\.\d+)?$
                  prefix:
                    type: string
                    example: http://identifiers.org/ena.embl/
                  catalog:
                    type: string
                    example: nbdc00432
                  category:
                    type: string
                    example: Gene
              ensembl_gene:
                properties:
                  label:
                    type: string
                    example: Ensembl gene
                  regex:
                    type: string
                    example: ^(?:(?:(?<id1>ENS[A-Z]*G\d{11})(?:\.\d+)?)|(?<id2>FBgn\d{7})|(?:(?<id3>MGP_[A-Za-z0-9]+_G\d{7})(?:\.\d+)?)|(?<id4>LRG_\d+)|(?<id5>WBGene\d{8})|(?<id6>Y[A-Z]{2}\d{3}[A-Z](?:-[A-Z])?)|(?<id7>Q\d{4})|(?<id8>[A-Z]{3}\d{1,3}(?:-\d)?)|(?<id9>snR\d+-?[A-Za-z]?)|(?<id10>t[A-Z]\([ACGUX]{3}\)[A-Z]\d?))$
                  prefix:
                    type: string
                    example: http://identifiers.org/ensembl/
                  catalog:
                    type: string
                    example: nbdc00054
                  category:
                    type: string
                    example: Gene
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - ENSG00000186283
                      - ENSAMEG00000018238
                      - ENSG00000167916
                      - ENSG00000213417
                      - ENSG00000133328
                      - ENSG00000274404
                      - ENSG00000184363
                      - FBgn0021742
                      - FBgn0030057
                      - FBgn0265139
              ensembl_protein:
                properties:
                  label:
                    type: string
                    example: Ensembl protein
                  regex:
                    type: string
                    example: ^(?:(?:(?<id1>ENS[A-Z]*P\d{11})(?:\.\d+)?)|(?<id2>FBpp\d{7})|(?:(?<id3>MGP_[A-Za-z0-9]+_P\d{7})(?:\.\d+)?)|(?<id4>LRG_\d+p\d+(?:-\d)?)|(?<id5>(?:[A-Za-z0-9][A-Za-z0-9_]+)\.t?\d+[a-z]?(?:\.\d+)?)|(?<id6>Y[A-Z]{2}\d{3}[A-Z](?:-[A-Z])?)|(?<id7>Q\d{4}))$
                  prefix:
                    type: string
                    example: http://identifiers.org/ensembl/
                  catalog:
                    type: string
                    example: nbdc00054
                  category:
                    type: string
                    example: Protein
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - ENSP00000365411
                      - ENSP00000420674
                      - ENSAZOP00000020796
                      - FBpp0070277
                      - FBpp0070535
                      - ENSAZOP00000019433
                      - ENSP00000372042
                      - ENSAZOP00000017910
                      - ENSP00000370977
                      - ENSP00000481894
              ensembl_transcript:
                properties:
                  label:
                    type: string
                    example: Ensembl transcript
                  regex:
                    type: string
                    example: ^(?:(?:(?<id1>ENS[A-Z]*T\d{11})(?:\.\d+)?)|(?<id2>FBtr\d{7})|(?:(?<id3>MGP_[A-Za-z0-9]+_T\d{7})(?:\.\d+)?)|(?<id4>LRG_\d+t\d+(?:-\d)?)|(?<id5>(?:[A-Za-z0-9][A-Za-z0-9_]+)\.t?\d+[a-z]?(?:\.\d+)?)|(?<id6>Y[A-Z]{2}\d{3}[A-Z](?:-[A-Z])?(?:_[a-z]{1,3}RNA)?)|(?<id7>Q\d{4}_[a-z]{1,3}RNA)|(?<id8>[A-Z]{3}\d{1,3}(?:-\d)?_[a-z]{1,3}RNA)|(?<id9>snR\d+-?[A-Za-z]?_sno?RNA)|(?<id10>t[A-Z]\([ACGUX]{3}\)[A-Z]\d?_tRNA))$
                  prefix:
                    type: string
                    example: http://identifiers.org/ensembl/
                  catalog:
                    type: string
                    example: nbdc00054
                  category:
                    type: string
                    example: Transcript
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - ENST00000638000
                      - ENST00000307864
                      - ENSTRUT00000006732
                      - ENSAMET00000021072
                      - ENSAZOT00000021040
                      - ENST00000622541
                      - ENST00000462612
                      - ENSBTAT00000072441
                      - ENSAZOT00000005048
                      - ENST00000475822
              glytoucan:
                properties:
                  label:
                    type: string
                    example: GlyTouCan
                  regex:
                    type: string
                    example: ^(?<id>G[0-9]{5}[A-Z]{2})$
                  prefix:
                    type: string
                    example: http://identifiers.org/glytoucan/
                  catalog:
                    type: string
                    example: nbdc01535
                  category:
                    type: string
                    example: Glycan
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - G88006IV
                      - G53085MI
                      - G17896UT
                      - G50341PG
                      - G19379ID
                      - G08110WX
                      - G70101JE
                      - G45504EY
                      - G81263BG
                      - G02815KT
              go:
                properties:
                  label:
                    type: string
                    example: Gene ontology
                  regex:
                    type: string
                    example: ^GO[:_](?<id>\d{7})$
                  format:
                    type: string
                    example:
                    - GO:%s
                    - GO_%s
                  prefix:
                    type: string
                    example: http://purl.obolibrary.org/obo/GO_
                  catalog:
                    type: string
                    example: nbdc00074
                  category:
                    type: string
                    example: Function
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - GO:0005643
                      - GO:0097110
                      - GO:0097225
                      - GO:0052855
                      - GO:2000012
                      - GO:0042921
                      - GO:0019774
                      - GO:0085018
                      - GO:0009508
                      - GO:0046470
                    - - GO_0005643
                      - GO_0097110
                      - GO_0097225
                      - GO_0052855
                      - GO_2000012
                      - GO_0042921
                      - GO_0019774
                      - GO_0085018
                      - GO_0009508
                      - GO_0046470
              hgnc:
                properties:
                  label:
                    type: string
                    example: HGNC
                  regex:
                    type: string
                    example: ^(?:(?:HGNC|hgnc):)?(?<id>\d{1,5})$
                  format:
                    type: string
                    example:
                    - '%s'
                    - HGNC:%s
                    - hgnc:%s
                  prefix:
                    type: string
                    example: http://identifiers.org/hgnc/
                  catalog:
                    type: string
                    example: nbdc01774
                  category:
                    type: string
                    example: Gene
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "26199"
                      - "38937"
                      - "14027"
                      - "21498"
                      - "18185"
                      - "1314"
                      - "25960"
                      - "2206"
                      - "22224"
                      - "19741"
                    - - HGNC:26199
                      - HGNC:38937
                      - HGNC:14027
                      - HGNC:21498
                      - HGNC:18185
                      - HGNC:1314
                      - HGNC:25960
                      - HGNC:2206
                      - HGNC:22224
                      - HGNC:19741
                    - - hgnc:26199
                      - hgnc:38937
                      - hgnc:14027
                      - hgnc:21498
                      - hgnc:18185
                      - hgnc:1314
                      - hgnc:25960
                      - hgnc:2206
                      - hgnc:22224
                      - hgnc:19741
              hgnc_symbol:
                properties:
                  label:
                    type: string
                    example: HGNC gene symbol
                  regex:
                    type: string
                    example: ^(?<id>[A-Za-z0-9_\-]+\@?)$
                  prefix:
                    type: string
                    example: http://identifiers.org/hgnc.symbol/
                  catalog:
                    type: string
                    example: nbdc01774
                  category:
                    type: string
                    example: Gene
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - MBNL2
                      - RGS20
                      - LINC02011
                      - IGHV1-14
                      - SH3RF2
                      - SPATA13
                      - HNRNPCP10
                      - LINC00334
                      - TMEM241
                      - RN7SL753P
              hmdb:
                properties:
                  label:
                    type: string
                    example: HMDB
                  regex:
                    type: string
                    example: ^(?:hmdb:)?(?<id>HMDB\d+)$
                  format:
                    type: string
                    example:
                    - '%s'
                    - hmdb:%s
                  prefix:
                    type: string
                    example: http://identifiers.org/hmdb/
                  catalog:
                    type: string
                    example: nbdc00909
                  category:
                    type: string
                    example: Compound
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - HMDB0029433
                      - HMDB0015609
                      - HMDB0000042
                      - HMDB0002360
                      - HMDB0003345
                      - HMDB0003550
                      - HMDB0036769
                      - HMDB0000935
                      - HMDB0002755
                      - HMDB0004369
                    - - hmdb:HMDB0029433
                      - hmdb:HMDB0015609
                      - hmdb:HMDB0000042
                      - hmdb:HMDB0002360
                      - hmdb:HMDB0003345
                      - hmdb:HMDB0003550
                      - hmdb:HMDB0036769
                      - hmdb:HMDB0000935
                      - hmdb:HMDB0002755
                      - hmdb:HMDB0004369
              homologene:
                properties:
                  label:
                    type: string
                    example: HomoloGene
                  regex:
                    type: string
                    example: ^(?<id>\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/homologene/
                  catalog:
                    type: string
                    example: nbdc00101
                  category:
                    type: string
                    example: Ortholog
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "117"
                      - "17"
                      - "6"
                      - "142"
                      - "55"
                      - "132"
                      - "61"
                      - "109"
                      - "137"
                      - "134"
              hp:
                properties:
                  label:
                    type: string
                    example: Human Phenotype Ontology
                  regex:
                    type: string
                    example: ^HP[:_](?<id>\d{7})$
                  format:
                    type: string
                    example:
                    - HP:%s
                    - HP_%s
                  prefix:
                    type: string
                    example: http://purl.obolibrary.org/obo/HP_
                  catalog:
                    type: string
                    example: nbdc02559
                  category:
                    type: string
                    example: Disease
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - HP:0001947
                      - HP:0031592
                      - HP:0012085
                      - HP:0000956
                      - HP:0025238
                      - HP:0002861
                      - HP:0001680
                      - HP:0004417
                      - HP:0001701
                      - HP:0025084
                    - - HP_0001947
                      - HP_0031592
                      - HP_0012085
                      - HP_0000956
                      - HP_0025238
                      - HP_0002861
                      - HP_0001680
                      - HP_0004417
                      - HP_0001701
                      - HP_0025084
              human_protein_atlas:
                properties:
                  label:
                    type: string
                    example: Human Protein Atlas
                  regex:
                    type: string
                    example: ^(?<id>ENSG\d{11})$
                  prefix:
                    type: string
                    example: http://www.proteinatlas.org/
                  catalog:
                    type: string
                    example: nbdc00905
                  category:
                    type: string
                    example: Protein
              inchi_key:
                properties:
                  label:
                    type: string
                    example: InChIKey
                  regex:
                    type: string
                    example: ^(?<id>[A-Z]{14}\-[A-Z]{10}(\-[A-Z])?)$
                  prefix:
                    type: string
                    example: https://identifiers.org/inchikey/
                  catalog:
                    type: string
                    example: FIXME
                  category:
                    type: string
                    example: Compound
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - RYYVLZVUVIJVGH-UHFFFAOYSA-N
                      - RZWGTXHSYZGXKF-UHFFFAOYSA-N
                      - RQQIIXFYTHWFKW-ZETCQYMHSA-N
                      - RALAARQREFCZJO-UHFFFAOYSA-N
                      - HVFRJJDZWVSUIB-UHFFFAOYSA-N
                      - KVNZVXVZQFTXNA-UHFFFAOYSA-N
                      - KVQUJTYBWCGJRS-UHFFFAOYSA-N
                      - AFGLQVAJWVTAJT-UHFFFAOYSA-N
                      - LHISABQPMWXWCC-UHFFFAOYSA-N
                      - ZSXCHLJCWRSMMS-UHFFFAOYSA-N
              insdc:
                properties:
                  label:
                    type: string
                    example: GenBank/ENA/DDBJ
                  regex:
                    type: string
                    example: ^(?:insdc:)?(?<id>[A-Z]\d{5}|[A-Z]{2}\d{6}|[A-Z]{4}\d{8}|[A-J][A-Z]{2}\d{5}|[A-Z]{4,}\d{9})(?:\.\d+)?$
                  prefix:
                    type: string
                    example: http://identifiers.org/insdc/
                  catalog:
                    type: string
                    example: nbdc02567
                  category:
                    type: string
                    example: Gene
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - U10991
                      - AF116914
                      - AK056978
                      - DQ440258
                      - U91725
                      - AY301270
                      - U32907
                      - AY261360
                      - AK001332
                      - U13261
              intact:
                properties:
                  label:
                    type: string
                    example: IntAct
                  regex:
                    type: string
                    example: ^(?<id>EBI\-[0-9]+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/intact/
                  catalog:
                    type: string
                    example: nbdc00507
                  category:
                    type: string
                    example: Interaction
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - EBI-7947422
                      - EBI-15714708
                      - EBI-16225271
                      - EBI-4406290
                      - EBI-9026465
                      - EBI-6403471
                      - EBI-1113651
                      - EBI-562824
                      - EBI-9014072
                      - EBI-1784742
              interpro:
                properties:
                  label:
                    type: string
                    example: InterPro
                  regex:
                    type: string
                    example: ^(?<id>IPR\d{6})$
                  prefix:
                    type: string
                    example: http://identifiers.org/interpro/
                  catalog:
                    type: string
                    example: nbdc00108
                  category:
                    type: string
                    example: Domain
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - IPR038152
                      - IPR040448
                      - IPR036748
                      - IPR034266
                      - IPR005479
                      - IPR036365
                      - IPR000174
                      - IPR001334
                      - IPR000731
                      - IPR001767
              kegg_compound:
                properties:
                  label:
                    type: string
                    example: KEGG Compound
                  regex:
                    type: string
                    example: ^(?<id>C\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/kegg.compound/
                  catalog:
                    type: string
                    example: nbdc00814
                  category:
                    type: string
                    example: Compound
              kegg_disease:
                properties:
                  label:
                    type: string
                    example: KEGG Disease
                  regex:
                    type: string
                    example: ^KEGG:H(?<id>\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/kegg.disease/
                  catalog:
                    type: string
                    example: nbdc00813
                  category:
                    type: string
                    example: Disease
              kegg_drug:
                properties:
                  label:
                    type: string
                    example: KEGG Drug
                  regex:
                    type: string
                    example: ^(?<id>D\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/kegg.drug/
                  catalog:
                    type: string
                    example: nbdc00812
                  category:
                    type: string
                    example: Drug
              kegg_genes:
                properties:
                  label:
                    type: string
                    example: KEGG Genes
                  regex:
                    type: string
                    example: ^\w+:[\w\d\.-]*$
                  prefix:
                    type: string
                    example: http://identifiers.org/kegg.genes/
                  catalog:
                    type: string
                    example: nbdc00532
                  category:
                    type: string
                    example: Gene, Protein
              kegg_orthology:
                properties:
                  label:
                    type: string
                    example: KEGG Orthology
                  regex:
                    type: string
                    example: ^(?<id>K\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/kegg.orthology/
                  catalog:
                    type: string
                    example: nbdc00817
                  category:
                    type: string
                    example: Ortholog
              kegg_pathway:
                properties:
                  label:
                    type: string
                    example: KEGG Pathway
                  regex:
                    type: string
                    example: ^(?<id>\w{2,4}\d{5})$
                  prefix:
                    type: string
                    example: http://identifiers.org/kegg.pathway/
                  catalog:
                    type: string
                    example: nbdc00118
                  category:
                    type: string
                    example: Pathway
              kegg_reaction:
                properties:
                  label:
                    type: string
                    example: KEGG Reaction
                  regex:
                    type: string
                    example: ^(?<id>R\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/kegg.reaction/
                  catalog:
                    type: string
                    example: nbdc00818
                  category:
                    type: string
                    example: Interaction
              lrg:
                properties:
                  label:
                    type: string
                    example: LRG
                  regex:
                    type: string
                    example: ^(?<id>LRG_\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/lrg/
                  catalog:
                    type: string
                    example: nbdc02566
                  category:
                    type: string
                    example: Gene
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - LRG_41
                      - LRG_356
                      - LRG_147
                      - LRG_660
                      - LRG_498
                      - LRG_364
                      - LRG_203
                      - LRG_162
                      - LRG_1271
                      - LRG_884
              mbgd_gene:
                properties:
                  label:
                    type: string
                    example: MBGD gene
                  regex:
                    type: string
                    example: ^(?<id>[a-z0-9]+:[A-Z0-9_\.-]+)$
                  prefix:
                    type: string
                    example: http://mbgd.genome.ad.jp/rdf/resource/gene/
                  catalog:
                    type: string
                    example: nbdc00130
                  category:
                    type: string
                    example: Gene
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - ash:AL1_RS04670
                      - ash:AL1_RS08245
                      - ash:AL1_RS02870
                      - ash:AL1_RS06610
                      - ash:AL1_RS06290
                      - ash:AL1_RS07260
                      - ash:AL1_RS08410
                      - ash:AL1_RS01705
                      - ash:AL1_RS02510
                      - ash:AL1_RS07245
              mbgd_organism:
                properties:
                  label:
                    type: string
                    example: MBGD organism
                  regex:
                    type: string
                    example: ^(?<id>[a-z0-9]+)$
                  prefix:
                    type: string
                    example: http://mbgd.genome.ad.jp/rdf/resource/organism/
                  catalog:
                    type: string
                    example: nbdc00130
                  category:
                    type: string
                    example: Taxonomy
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - lac
                      - pfl
                      - cou
                      - bvn
                      - btd
                      - ctjt
                      - sha
                      - lmoj
                      - dpi
                      - arp
              meddra:
                properties:
                  label:
                    type: string
                    example: MedDRA
                  regex:
                    type: string
                    example: ^(?:(?:MedDRA|meddra):)?(?<id>\d+)$
                  format:
                    type: string
                    example:
                    - '%s'
                    - MedDRA:%s
                    - meddra:%s
                  prefix:
                    type: string
                    example: http://identifiers.org/meddra/
                  catalog:
                    type: string
                    example: nbdc02564
                  category:
                    type: string
                    example: Disease
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "10008033"
                      - "10027710"
                      - "10062506"
                      - "10040493"
                      - "10013611"
                      - "10065857"
                      - "10063143"
                      - "10022599"
                      - "10042342"
                      - "10047883"
                    - - MedDRA:10008033
                      - MedDRA:10027710
                      - MedDRA:10062506
                      - MedDRA:10040493
                      - MedDRA:10013611
                      - MedDRA:10065857
                      - MedDRA:10063143
                      - MedDRA:10022599
                      - MedDRA:10042342
                      - MedDRA:10047883
                    - - meddra:10008033
                      - meddra:10027710
                      - meddra:10062506
                      - meddra:10040493
                      - meddra:10013611
                      - meddra:10065857
                      - meddra:10063143
                      - meddra:10022599
                      - meddra:10042342
                      - meddra:10047883
              medgen:
                properties:
                  label:
                    type: string
                    example: MedGen
                  regex:
                    type: string
                    example: ^(?<id>CN?\d{4,7})$
                  prefix:
                    type: string
                    example: http://identifiers.org/medgen/
                  catalog:
                    type: string
                    example: nbdc02560
                  category:
                    type: string
                    example: Disease
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - C0264897
                      - C0028860
                      - C0018818
                      - C1848392
                      - C0006389
                      - C0020517
                      - C0000364
                      - CN227118
                      - CN203043
                      - CN292950
              mesh:
                properties:
                  label:
                    type: string
                    example: MeSH
                  regex:
                    type: string
                    example: ^(?<id>[CD]\d{6,9})$
                  prefix:
                    type: string
                    example: http://identifiers.org/mesh/
                  catalog:
                    type: string
                    example: nbdc00132
                  category:
                    type: string
                    example: Disease
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - D002065
                      - C562829
                      - C566582
                      - D010623
                      - D003327
                      - D001715
                      - D000453
                      - D010260
                      - C537322
                      - C563418
              mgi:
                properties:
                  label:
                    type: string
                    example: MGI
                  regex:
                    type: string
                    example: ^(?:MGI|mgi):(?<id>\d{5,})$
                  format:
                    type: string
                    example:
                    - MGI:%s
                    - mgi:%s
                  prefix:
                    type: string
                    example: 'http://identifiers.org/mgi/MGI:'
                  catalog:
                    type: string
                    example: nbdc00135
                  category:
                    type: string
                    example: Gene
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - MGI:2387184
                      - MGI:1920977
                      - MGI:2442415
                      - MGI:1098644
                      - MGI:1196250
                      - MGI:1914934
                      - MGI:1914238
                      - MGI:1919300
                      - MGI:1914807
                      - MGI:2145261
                    - - mgi:2387184
                      - mgi:1920977
                      - mgi:2442415
                      - mgi:1098644
                      - mgi:1196250
                      - mgi:1914934
                      - mgi:1914238
                      - mgi:1919300
                      - mgi:1914807
                      - mgi:2145261
              mirbase:
                properties:
                  label:
                    type: string
                    example: miRBase
                  regex:
                    type: string
                    example: ^(?<id>MI\d{7})$
                  prefix:
                    type: string
                    example: http://identifiers.org/mirbase/
                  catalog:
                    type: string
                    example: nbdc00136
                  category:
                    type: string
                    example: Transcript
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - MI0003587
                      - MI0000252
                      - MI0000811
                      - MI0014201
                      - MI0003578
                      - MI0000293
                      - MI0006384
                      - MI0006361
                      - MI0000480
                      - MI0006419
              mondo:
                properties:
                  label:
                    type: string
                    example: MONDO
                  regex:
                    type: string
                    example: ^MONDO[:_](?<id>\d{7})$
                  format:
                    type: string
                    example:
                    - MONDO:%s
                    - MONDO_%s
                  prefix:
                    type: string
                    example: http://purl.obolibrary.org/obo/MONDO_
                  catalog:
                    type: string
                    example: nbdc02563
                  category:
                    type: string
                    example: Disease
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - MONDO:0000115
                      - MONDO:0002345
                      - MONDO:0011571
                      - MONDO:0020035
                      - MONDO:0020920
                      - MONDO:0004627
                      - MONDO:0005480
                      - MONDO:0010852
                      - MONDO:0002053
                      - MONDO:0015758
                    - - MONDO_0000115
                      - MONDO_0002345
                      - MONDO_0011571
                      - MONDO_0020035
                      - MONDO_0020920
                      - MONDO_0004627
                      - MONDO_0005480
                      - MONDO_0010852
                      - MONDO_0002053
                      - MONDO_0015758
              nando:
                properties:
                  label:
                    type: string
                    example: NANDO
                  regex:
                    type: string
                    example: ^NANDO[:_](?<id>\d{7})$
                  format:
                    type: string
                    example:
                    - NANDO:%s
                    - NANDO_%s
                  prefix:
                    type: string
                    example: http://nanbyodata.jp/ontology/NANDO_
                  catalog:
                    type: string
                    example: nbdc02557
                  category:
                    type: string
                    example: Disease
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - NANDO:1200461
                      - NANDO:1200466
                      - NANDO:1200851
                      - NANDO:1200061
                      - NANDO:1200315
                      - NANDO:1200365
                      - NANDO:1200922
                      - NANDO:1200705
                      - NANDO:2200074
                      - NANDO:1200030
                    - - NANDO_1200461
                      - NANDO_1200466
                      - NANDO_1200851
                      - NANDO_1200061
                      - NANDO_1200315
                      - NANDO_1200365
                      - NANDO_1200922
                      - NANDO_1200705
                      - NANDO_2200074
                      - NANDO_1200030
              ncbigene:
                properties:
                  label:
                    type: string
                    example: NCBI gene
                  regex:
                    type: string
                    example: ^(?<id>\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/ncbigene/
                  catalog:
                    type: string
                    example: nbdc00073
                  category:
                    type: string
                    example: Gene
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "63962027"
                      - "1046"
                      - "63961921"
                      - "102606930"
                      - "100472895"
                      - "407025"
                      - "84148"
                      - "88"
                      - "31157"
                      - "100463227"
              ncbiprotein:
                properties:
                  label:
                    type: string
                    example: NCBI protein
                  regex:
                    type: string
                    example: ^(?:(?:\w+\d+(?:\.\d+)?)|(?:NP_\d+))$
                  prefix:
                    type: string
                    example: http://identifiers.org/ncbiprotein/
                  catalog:
                    type: string
                    example: nbdc00584
                  category:
                    type: string
                    example: Protein
              oma_group:
                properties:
                  label:
                    type: string
                    example: OMA group
                  regex:
                    type: string
                    example: ^(?<id>[A-Z]+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/oma.grp/
                  catalog:
                    type: string
                    example: nbdc02221
                  category:
                    type: string
                    example: Ortholog
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - RVAAYKY
                      - LFVHAIL
                      - EMSPITC
                      - NQSHFFA
                      - AYTHYSY
                      - PRPKYDP
                      - WSRIHIV
                      - DFGGWKI
                      - FHVAHGE
                      - PYVYVTH
              oma_protein:
                properties:
                  label:
                    type: string
                    example: OMA protein
                  regex:
                    type: string
                    example: ^(?<id>[A-Z]{3}[A-Z0-9]{2}[0-9]{5,6})$
                  prefix:
                    type: string
                    example: http://identifiers.org/oma.protein/
                  catalog:
                    type: string
                    example: nbdc02221
                  category:
                    type: string
                    example: Protein
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - ACIB400217
                      - ACIB400465
                      - HUMAN00333
                      - HUMAN01170
                      - HUMAN00470
                      - HUMAN03367
                      - ACIB400486
                      - HUMAN01061
                      - HUMAN02190
                      - HUMAN02112
              omim_gene:
                properties:
                  label:
                    type: string
                    example: OMIM gene
                  regex:
                    type: string
                    example: ^(?:O?MIM:)?(?<id>\d{6})$
                  format:
                    type: string
                    example:
                    - '%s'
                    - OMIM:%s
                    - MIM:%s
                  prefix:
                    type: string
                    example: http://identifiers.org/mim/
                  catalog:
                    type: string
                    example: nbdc00154
                  category:
                    type: string
                    example: Gene
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "604810"
                      - "115460"
                      - "608706"
                      - "300181"
                      - "102575"
                      - "601280"
                      - "602832"
                      - "601604"
                      - "177075"
                      - "608977"
                    - - OMIM:604810
                      - OMIM:115460
                      - OMIM:608706
                      - OMIM:300181
                      - OMIM:102575
                      - OMIM:601280
                      - OMIM:602832
                      - OMIM:601604
                      - OMIM:177075
                      - OMIM:608977
                    - - MIM:604810
                      - MIM:115460
                      - MIM:608706
                      - MIM:300181
                      - MIM:102575
                      - MIM:601280
                      - MIM:602832
                      - MIM:601604
                      - MIM:177075
                      - MIM:608977
              omim_phenotype:
                properties:
                  label:
                    type: string
                    example: OMIM phenotype
                  regex:
                    type: string
                    example: ^(?:O?MIM:)?(?<id>\d{6})$
                  format:
                    type: string
                    example:
                    - '%s'
                    - OMIM:%s
                    - MIM:%s
                  prefix:
                    type: string
                    example: http://identifiers.org/mim/
                  catalog:
                    type: string
                    example: nbdc00154
                  category:
                    type: string
                    example: Disease
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "207780"
                      - "236100"
                      - "237500"
                      - "300716"
                      - "125310"
                      - "165199"
                      - "617175"
                      - "137600"
                      - "600089"
                      - "601317"
                    - - OMIM:207780
                      - OMIM:236100
                      - OMIM:237500
                      - OMIM:300716
                      - OMIM:125310
                      - OMIM:165199
                      - OMIM:617175
                      - OMIM:137600
                      - OMIM:600089
                      - OMIM:601317
                    - - MIM:207780
                      - MIM:236100
                      - MIM:237500
                      - MIM:300716
                      - MIM:125310
                      - MIM:165199
                      - MIM:617175
                      - MIM:137600
                      - MIM:600089
                      - MIM:601317
              orphanet:
                properties:
                  label:
                    type: string
                    example: Orphanet
                  regex:
                    type: string
                    example: ^(?:ORPHA|ORDO|Orphanet)[:_](?<id>[A-Z0-9]+)$
                  format:
                    type: string
                    example:
                    - ORPHA:%s
                    - ORDO:%s
                    - Orphanet:%s
                    - Orphanet_%s
                  prefix:
                    type: string
                    example: http://identifiers.org/orphanet.ordo/Orphanet_
                  catalog:
                    type: string
                    example: nbdc01422
                  category:
                    type: string
                    example: Disease
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - ORPHA:101078
                      - ORPHA:596
                      - ORPHA:1934
                      - ORPHA:1047
                      - ORPHA:60025
                      - ORPHA:166090
                      - ORPHA:275745
                      - ORPHA:1171
                      - ORPHA:93277
                      - ORPHA:247598
                    - - ORDO:101078
                      - ORDO:596
                      - ORDO:1934
                      - ORDO:1047
                      - ORDO:60025
                      - ORDO:166090
                      - ORDO:275745
                      - ORDO:1171
                      - ORDO:93277
                      - ORDO:247598
                    - - Orphanet:101078
                      - Orphanet:596
                      - Orphanet:1934
                      - Orphanet:1047
                      - Orphanet:60025
                      - Orphanet:166090
                      - Orphanet:275745
                      - Orphanet:1171
                      - Orphanet:93277
                      - Orphanet:247598
                    - - Orphanet_101078
                      - Orphanet_596
                      - Orphanet_1934
                      - Orphanet_1047
                      - Orphanet_60025
                      - Orphanet_166090
                      - Orphanet_275745
                      - Orphanet_1171
                      - Orphanet_93277
                      - Orphanet_247598
              pdb:
                properties:
                  label:
                    type: string
                    example: PDB
                  regex:
                    type: string
                    example: ^(?<id>[0-9][A-Za-z0-9]{3})$
                  prefix:
                    type: string
                    example: http://rdf.wwpdb.org/pdb/
                  catalog:
                    type: string
                    example: nbdc00156
                  category:
                    type: string
                    example: Structure
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - 3PFQ
                      - 2OUY
                      - 6EBX
                      - 5GHP
                      - 6ETH
                      - 1Y28
                      - 6FB2
                      - 5JO3
                      - 2JQZ
                      - 5L5P
                    - - 3pfq
                      - 2ouy
                      - 6ebx
                      - 5ghp
                      - 6eth
                      - 1y28
                      - 6fb2
                      - 5jo3
                      - 2jqz
                      - 5l5p
              pfam:
                properties:
                  label:
                    type: string
                    example: Pfam
                  regex:
                    type: string
                    example: ^(?<id>PF\d{5})$
                  prefix:
                    type: string
                    example: http://identifiers.org/pfam/
                  catalog:
                    type: string
                    example: nbdc00163
                  category:
                    type: string
                    example: Domain
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - PF03719
                      - PF03726
                      - PF02809
                      - PF00105
                      - PF00250
                      - PF00412
                      - PF01412
                      - PF00459
                      - PF02532
                      - PF01226
              pubchem_compound:
                properties:
                  label:
                    type: string
                    example: PubChem compound
                  regex:
                    type: string
                    example: ^(?:CID)?(?<id>\d+)$
                  format:
                    type: string
                    example:
                    - '%s'
                    - CID%s
                  prefix:
                    type: string
                    example: http://identifiers.org/pubchem.compound/
                  catalog:
                    type: string
                    example: nbdc00641
                  category:
                    type: string
                    example: Compound
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "9548669"
                      - "160419"
                      - "9869929"
                      - "76333303"
                      - "9868491"
                      - "27854"
                      - "76329169"
                      - "3448"
                      - "296"
                      - "10371227"
                    - - CID9548669
                      - CID160419
                      - CID9869929
                      - CID76333303
                      - CID9868491
                      - CID27854
                      - CID76329169
                      - CID3448
                      - CID296
                      - CID10371227
              pubchem_substance:
                properties:
                  label:
                    type: string
                    example: PubChem substance
                  regex:
                    type: string
                    example: ^(?:SID)?(?<id>\d+)$
                  format:
                    type: string
                    example:
                    - '%s'
                    - SID%s
                  prefix:
                    type: string
                    example: http://identifiers.org/pubchem.substance/
                  catalog:
                    type: string
                    example: nbdc00642
                  category:
                    type: string
                    example: Compound
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "15229855"
                      - "15277848"
                      - "15782795"
                      - "16076657"
                      - "16035895"
                      - "12012900"
                      - "15378994"
                      - "14850434"
                      - "14847540"
                      - "15271473"
                    - - SID15229855
                      - SID15277848
                      - SID15782795
                      - SID16076657
                      - SID16035895
                      - SID12012900
                      - SID15378994
                      - SID14850434
                      - SID14847540
                      - SID15271473
              pubmed:
                properties:
                  label:
                    type: string
                    example: PubMed
                  regex:
                    type: string
                    example: ^(?:pmid:|PMID:)?(?<id>\d+)$
                  format:
                    type: string
                    example:
                    - '%s'
                    - pmid:%s
                    - PMID:%s
                  prefix:
                    type: string
                    example: http://identifiers.org/pubmed/
                  catalog:
                    type: string
                    example: nbdc00179
                  category:
                    type: string
                    example: Literature
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "19281226"
                      - "19879151"
                      - "20858243"
                      - "10773016"
                      - "16527252"
                      - "28499733"
                      - "10397770"
                      - "15149666"
                      - "23861362"
                      - "10577920"
                    - - pmid:19281226
                      - pmid:19879151
                      - pmid:20858243
                      - pmid:10773016
                      - pmid:16527252
                      - pmid:28499733
                      - pmid:10397770
                      - pmid:15149666
                      - pmid:23861362
                      - pmid:10577920
                    - - PMID:19281226
                      - PMID:19879151
                      - PMID:20858243
                      - PMID:10773016
                      - PMID:16527252
                      - PMID:28499733
                      - PMID:10397770
                      - PMID:15149666
                      - PMID:23861362
                      - PMID:10577920
              reactome_pathway:
                properties:
                  label:
                    type: string
                    example: Reactome pathway
                  regex:
                    type: string
                    example: ^(?<id>R-[A-Z]{3}-\d+)(?:\.\d+)?$
                  prefix:
                    type: string
                    example: http://identifiers.org/reactome/
                  catalog:
                    type: string
                    example: nbdc00185
                  category:
                    type: string
                    example: Pathway
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - R-HSA-165159
                      - R-DRE-1630316
                      - R-SCE-9634635
                      - R-DRE-140834
                      - R-HSA-2142753
                      - R-BTA-383280
                      - R-MMU-5218900
                      - R-RNO-5654219
                      - R-MMU-8875791
                      - R-MMU-9648025
              reactome_reaction:
                properties:
                  label:
                    type: string
                    example: Reactome reaction
                  regex:
                    type: string
                    example: ^(?<id>R-[A-Z]{3}-\d+)(?:\.\d+)?$
                  prefix:
                    type: string
                    example: http://identifiers.org/reactome/
                  catalog:
                    type: string
                    example: nbdc00185
                  category:
                    type: string
                    example: Reaction
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - R-DRE-1482961
                      - R-DRE-6814409
                      - R-HSA-2395869
                      - R-HSA-1222722
                      - R-HSA-893583
                      - R-MMU-158484
                      - R-HSA-8875071
                      - R-HSA-372519
                      - R-HSA-6797627
                      - R-DRE-975814
              refseq_genomic:
                properties:
                  label:
                    type: string
                    example: RefSeq genomic
                  regex:
                    type: string
                    example: ^(?<id>(?:AC_|N[CGTW]_|NZ_[A-Z]+)\d+)(?:\.\d+)?$
                  prefix:
                    type: string
                    example: http://identifiers.org/refseq/
                  catalog:
                    type: string
                    example: nbdc00187
                  category:
                    type: string
                    example: Gene
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - NG_004671
                      - NG_011844
                      - NG_008481
                      - NG_007973
                      - NG_001091
                      - NG_008005
                      - NG_023230
                      - NG_046394
                      - NG_009617
                      - NG_016421
                      - NG_021472
                    - - NG_004671.3
                      - NG_011844.2
                      - NG_008481.4
                      - NG_007973.1
                      - NG_001091.7
                      - NG_008005.1
                      - NG_023230.1
                      - NG_046394.1
                      - NG_009617.1
                      - NG_016421.2
                      - NG_021472.2
              refseq_protein:
                properties:
                  label:
                    type: string
                    example: RefSeq protein
                  regex:
                    type: string
                    example: ^(?<id>[ANXYWZ]P_\d+)(?:\.\d+)?$
                  prefix:
                    type: string
                    example: http://identifiers.org/refseq/
                  catalog:
                    type: string
                    example: nbdc00187
                  category:
                    type: string
                    example: Protein
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - NP_001171968
                      - NP_001365494
                      - NP_000015
                      - XP_011522750
                      - XP_011516190
                      - XP_005265876
                      - WP_016919164
                      - WP_080513319
                      - YP_001687722
                      - YP_001966380
                    - - NP_001171968.1
                      - NP_001365494.1
                      - NP_000015.2
                      - XP_011522750.1
                      - XP_011516190.1
                      - XP_005265876.1
                      - WP_016919164.1
                      - WP_080513319.1
                      - YP_001687722.1
                      - YP_001966380.1
              refseq_rna:
                properties:
                  label:
                    type: string
                    example: RefSeq RNA
                  regex:
                    type: string
                    example: ^(?<id>(?:NM|NR|XM|XR)_\d+)(?:\.\d+)?$
                  prefix:
                    type: string
                    example: http://identifiers.org/refseq/
                  catalog:
                    type: string
                    example: nbdc00187
                  category:
                    type: string
                    example: Transcript
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - XR_001747779
                      - XM_017013006
                      - NM_001199636
                      - XM_011532496
                      - NM_001110
                      - NR_170162
                      - NM_020113
                      - NM_001031805
                      - NR_027673
                      - XR_934019
                    - - XR_001747779.1
                      - XM_017013006.1
                      - NM_001199636.2
                      - XM_011532496.1
                      - NM_001110.4
                      - NR_170162.1
                      - NM_020113.3
                      - NM_001031805.1
                      - NR_027673.1
                      - XR_934019.3
              rgd:
                properties:
                  label:
                    type: string
                    example: RGD
                  regex:
                    type: string
                    example: ^(?:(?:RGD|rgd):)?(?<id>\d{4,})$
                  format:
                    type: string
                    example:
                    - '%s'
                    - RGD:%s
                    - rgd:%s
                  prefix:
                    type: string
                    example: http://identifiers.org/rgd/
                  catalog:
                    type: string
                    example: nbdc00188
                  category:
                    type: string
                    example: Gene
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "1308312"
                      - "1311120"
                      - "1309724"
                      - "1565514"
                      - "7683241"
                      - "1307957"
                      - "71036"
                      - "1307876"
                      - "1308965"
                      - "1305482"
                    - - RGD:1308312
                      - RGD:1311120
                      - RGD:1309724
                      - RGD:1565514
                      - RGD:7683241
                      - RGD:1307957
                      - RGD:71036
                      - RGD:1307876
                      - RGD:1308965
                      - RGD:1305482
                    - - rgd:1308312
                      - rgd:1311120
                      - rgd:1309724
                      - rgd:1565514
                      - rgd:7683241
                      - rgd:1307957
                      - rgd:71036
                      - rgd:1307876
                      - rgd:1308965
                      - rgd:1305482
              rhea:
                properties:
                  label:
                    type: string
                    example: Rhea
                  regex:
                    type: string
                    example: ^(?<id>\d{5})$
                  prefix:
                    type: string
                    example: http://identifiers.org/rhea/
                  catalog:
                    type: string
                    example: nbdc02083
                  category:
                    type: string
                    example: Reaction
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "10253"
                      - "10818"
                      - "13517"
                      - "11136"
                      - "13729"
                      - "10240"
                      - "11728"
                      - "16870"
                      - "10732"
                      - "11278"
              sra_accession:
                properties:
                  label:
                    type: string
                    example: SRA accession
                  regex:
                    type: string
                    example: ^(?<id>[SED]RA\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/insdc.sra/
                  catalog:
                    type: string
                    example: nbdc00687
                  category:
                    type: string
                    example: Submission
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - DRA000741
                      - DRA000768
                      - DRA001014
                      - DRA000833
                      - SRA000144
                      - SRA000605
                      - SRA008879
                      - ERA007227
                      - ERA011638
                      - ERA013580
              sra_analysis:
                properties:
                  label:
                    type: string
                    example: SRA analysis
                  regex:
                    type: string
                    example: ^(?<id>[SED]RZ\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/insdc.sra/
                  catalog:
                    type: string
                    example: nbdc00687
                  category:
                    type: string
                    example: Analysis
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - DRZ000249
                      - DRZ000087
                      - DRZ003045
                      - DRZ000829
                      - SRZ168127
                      - SRZ008405
                      - SRZ010259
                      - SRZ011419
                      - SRZ006662
                      - SRZ010567
              sra_experiment:
                properties:
                  label:
                    type: string
                    example: SRA experiment
                  regex:
                    type: string
                    example: ^(?<id>[SED]RX\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/insdc.sra/
                  catalog:
                    type: string
                    example: nbdc00687
                  category:
                    type: string
                    example: Experiment
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - DRX000585
                      - DRX000114
                      - DRX000613
                      - DRX000681
                      - SRX000921
                      - SRX000254
                      - SRX000626
                      - ERX149204
                      - ERX001260
                      - ERX000427
              sra_project:
                properties:
                  label:
                    type: string
                    example: SRA project
                  regex:
                    type: string
                    example: ^(?<id>[SED]RP\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/insdc.sra/
                  catalog:
                    type: string
                    example: nbdc00687
                  category:
                    type: string
                    example: Project
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - DRP000994
                      - DRP000877
                      - DRP000649
                      - DRP000147
                      - SRP266466
                      - SRP297268
                      - SRP000065
                      - ERP001266
                      - ERP007720
                      - ERP104141
              sra_run:
                properties:
                  label:
                    type: string
                    example: SRA run
                  regex:
                    type: string
                    example: ^(?<id>[SED]RR\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/insdc.sra/
                  catalog:
                    type: string
                    example: nbdc00687
                  category:
                    type: string
                    example: SequenceRun
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - DRR000834
                      - DRR000683
                      - DRR000264
                      - DRR000453
                      - SRR029947
                      - SRR000290
                      - SRR004854
                      - ERR499402
                      - ERR004130
                      - ERR000715
              sra_sample:
                properties:
                  label:
                    type: string
                    example: SRA sample
                  regex:
                    type: string
                    example: ^(?<id>[SED]RS\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/insdc.sra/
                  catalog:
                    type: string
                    example: nbdc00687
                  category:
                    type: string
                    example: Sample
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - DRS001431
                      - DRS001371
                      - DRS000894
                      - DRS000386
                      - SRS2618009
                      - SRS7846025
                      - SRS000159
                      - ERS452503
                      - ERS000126
                      - ERS010423
              taxonomy:
                properties:
                  label:
                    type: string
                    example: Taxonomy
                  regex:
                    type: string
                    example: ^(?<id>\d+)$
                  prefix:
                    type: string
                    example: http://identifiers.org/taxonomy/
                  catalog:
                    type: string
                    example: nbdc00700
                  category:
                    type: string
                    example: Taxonomy
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - "1171376"
                      - "484906"
                      - "1214242"
                      - "1124991"
                      - "1037911"
                      - "1266844"
                      - "243277"
                      - "696747"
                      - "263820"
                      - "713604"
              togovar:
                properties:
                  label:
                    type: string
                    example: TogoVar variant
                  regex:
                    type: string
                    example: ^(?<id>tgv\d+)$
                  prefix:
                    type: string
                    example: http://togovar.biosciencedbc.jp/variation/
                  catalog:
                    type: string
                    example: nbdc02359
                  category:
                    type: string
                    example: Variant
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - tgv100005930
                      - tgv100000890
                      - tgv16331
                      - tgv10000341
                      - tgv21330879
                      - tgv15847
                      - tgv1354996
                      - tgv100002132
                      - tgv16568524
                      - tgv62035164
              uniprot:
                properties:
                  label:
                    type: string
                    example: UniProt
                  regex:
                    type: string
                    example: ^(?:(?<id1>[A-NR-Z][0-9](?:[A-Z][A-Z0-9][A-Z0-9][0-9]){1,2}(?:-\d+)?)|(?<id2>[OPQ][0-9][A-Z0-9][A-Z0-9][A-Z0-9][0-9](?:-\d+)?)(?:\.\d+)?)$
                  prefix:
                    type: string
                    example: http://purl.uniprot.org/uniprot/
                  catalog:
                    type: string
                    example: nbdc00221
                  category:
                    type: string
                    example: Protein
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - A0A174V9D2
                      - A0A1V4U2Y9
                      - Q7NXD4
                      - P0AAM3
                      - O43423
                      - D4IJI4
                      - Q66SS1
                      - B5IDU9
                      - D3TBR4
                      - D4ILS5
              uniprot_mnemonic:
                properties:
                  label:
                    type: string
                    example: UniProt mnemonic
                  regex:
                    type: string
                    example: ^(?<id>[A-Z0-9]+_[A-Z0-9]{0,5})$
                  prefix:
                    type: string
                    example: http://purl.uniprot.org/uniprot/
                  catalog:
                    type: string
                    example: nbdc00221
                  category:
                    type: string
                    example: Protein
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - 2ABA_ORYSJ
                      - 33K_ADES1
                      - 1003L_ASFK5
                      - 1A1D_VARPS
                      - 1B02_GORGO
                      - 1003L_ASFP4
                      - 1433B_MACFA
                      - 1107L_ASFWA
                      - 3BHS1_MOUSE
                      - 14331_SCHMA
              wikipathways:
                properties:
                  label:
                    type: string
                    example: WikiPathways
                  regex:
                    type: string
                    example: ^(?<id>WP\d{1,5})(?:\_r\d+)?$
                  prefix:
                    type: string
                    example: http://identifiers.org/wikipathways/
                  catalog:
                    type: string
                    example: nbdc02116
                  category:
                    type: string
                    example: Pathway
                  examples:
                    type: array
                    items:
                      type: string
                    example:
                    - - WP1531
                      - WP4312
                      - WP4877
                      - WP5020
                      - WP4400
                      - WP4474
                      - WP4183
                      - WP3650
                      - WP4545
                      - WP4462
                    - - WP1531_r107120
                      - WP4312_r104287
                      - WP4877_r116595
                      - WP5020_r114721
                      - WP4400_r108112
                      - WP4474_r102094
                      - WP4183_r106890
                      - WP3650_r110699
                      - WP4545_r116235
                      - WP4462_r102079

        400:
          description: Bad request
          
  /config/dataset/{dataset}:
    get:
      tags: 
        - "config"
      summary: Get selected dataset config
      operationId: getDataset
      parameters:
        - name: dataset
          in: path
          type: string
          description: A key from https://github.com/dbcls/togoid-config/blob/main/config/dataset.yaml
          required: true
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            properties:
              label:
                type: string
                example: UniProt
              regex:
                type: string
                example: ^(?:(?<id1>[A-NR-Z][0-9](?:[A-Z][A-Z0-9][A-Z0-9][0-9]){1,2}(?:-\d+)?)|(?<id2>[OPQ][0-9][A-Z0-9][A-Z0-9][A-Z0-9][0-9](?:-\d+)?)(?:\.\d+)?)$
              prefix:
                type: string
                example: http://purl.uniprot.org/uniprot/
              catalog:
                type: string
                example: nbdc00221
              category:
                type: string
                example: Protein
              examples:
                type: array
                items:
                  type: string
                  example:
                  - A0A174V9D2
                  - A0A1V4U2Y9
                  - Q7NXD4
                  - P0AAM3
                  - O43423
                  - D4IJI4
                  - Q66SS1
                  - B5IDU9
                  - D3TBR4
                  - D4ILS5

        400:
[...]
