@use "global" as g;

.annotate {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 30px;
  max-width: 1080px;
  margin: 88px auto;

  &__side-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      font: {
        size: 1.2rem;
        weight: 600;
      }

      opacity: 0.65;
      border-radius: 5px;
      box-shadow: 0 3px 6px rgb(g.$col-000, 0.16);
      border: none;

      &:hover,
      &.active {
        opacity: 1;
      }

      &.green {
        background-color: g.$col-B1DD6A;
      }

      &.orange {
        background-color: g.$col-F7A157;
      }

      .text {
        color: g.$col-5C5C5C;
      }

      .total {
        font-family: g.$ff-oswald;
        color: g.$col-5A5A5A;
        padding: 0 9px;
        border-radius: 8px;
        background-color: g.$col-FFF;
      }
    }
  }

  .table {
    thead {
      th {
        font-family: g.$ff-oswald;
        vertical-align: middle;
      }
    }
  }
}
