@charset "UTF-8";

$blue01: #249EB3;
$blue02: #1A8091;
$blue03: #46B9CC;
$blue04: #DCF3F1;
$blue05: #E7F0F2;
$blue06: #C0DEE5;

$green01: #B1DD6A;

$orange01: #F7A157;

$purple01: #CD87F2;

$blueGray01: #E7F0F2;

$gray01: #C4C4C4;
$gray02: #C6C6C6;
$gray03: #FAFAFA;
$gray04: #707070;
$gray05: #3C3C3C;
$gray06: #D5D5D5;
$gray07: #5A5A5A;
$gray08: #7C7C7C;
$gray09: #333333;

$textColor01: #707070;
$textColor02: #5C5C5C;

$white: #ffffff;
$black: #000000;
