@charset "UTF-8";
.st0{fill:#46B9CC;}
.st1{fill:#249EB3;}
.st2{fill:#FFFFFF;}
.st3{fill:#444444;}

.path_label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  font-size: 1.2rem;
  color: #ffffff;
  padding: 4px 8px;
  //line-height: 38px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid transparent;
  &.green {
    background: $green01;
  }
  &.white {
    width: auto;
    font-size: 1.2rem;
    color: $gray07;
    padding: 0 6px;
    line-height: 17px;
    border: none;
    background: $white;
  }

  &__inner {
    position: relative;
    display: block;
    margin: 0 20px;
    .icon {
      position: absolute;
      top: 7px;
      left: 7px;
      width: 26px;
      height: 26px;
      overflow: hidden;
      border-radius: 50%;
    }
  }

  &.small {
    width: auto;
    min-width: 70px;
    padding: 0 10px;
    line-height: 24px;
    .path_label__inner {
      position: static;
      .icon {
        position: static;
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: 0 9px 3px 0;
        vertical-align: middle;
      }
    }
  }
}

.select_lang {
  display: flex;
  margin: 0 0 18px;
  .radio {
    margin: 0 24px 0 0;
    &__label {
      font-family: Oswald;
      cursor: pointer;
    }
  }
}

