@charset "UTF-8";

.footer {
  color: $white;
  padding: 37px 0 50px;
  background: $gray04;
  &__inner {
    max-width: 987px;
    margin: 0 auto;
  }
  &__logo {
    margin: 0 0 20px;
  }
  &__text {
    font-size: 1.2rem;
  }
}
