@charset "UTF-8";
.home {
  .main {
    padding: 0 0 0;
  }

  .input_area {
    width: 468px;
    margin: 0 auto 25px;
    .textarea {
      display: flex;
      .textarea_wrapper {
        position: relative;
        margin: 0 15px 0 0;
        .textarea_clear {
          position: absolute;
          top: 10px;
          right: 8px;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: none;
          background: url("../public/images/icon_close.png") no-repeat center center/ 9px 9px, $gray01;
        }
      }
      &__input {
        position: relative;
        width: 330px;
        height: 110px;
      }
    }
    &__bottom {
      font-family: Oswald;
      margin: 12px 0 0;
      &__text {
        font-size: 1.4rem;
        color: $gray04;
        margin: 0 0 23px;
      }
      &__square {
        display: inline-block;
        font-size: 1.4rem;
        color: $gray04;
        padding: 0 10px 0 0;
        margin: 0 0 14px;
        line-height: 26px;
      }
      &__link {
        display: inline-block;
        font-size: 1.4rem;
        color: $blue02;
        padding: 0 16px;
        margin: 0 5px 0 0;
        line-height: 26px;
        border-radius: 13px;
        background: $blue05;
      }
    }
  }

  .drawing_area {
    margin: 0 auto 0;
    .point {
      width: 8px;
      height: 8px;
      margin: 16px 12px;
      border-radius: 50%;
      border: 1px solid $gray01;
      background: $white;
    }
    .tab_wrapper {
      display: flex;
      justify-content: center;
    }

    .panel {
      min-height: 600px;
      padding: 25px 0 0;
      margin-bottom: 20px;
      border: {
        top: 1px solid $gray02;
        bottom: 1px solid $gray02;
      }
      background: $gray03;

      &__button {
        display: flex;
        justify-content: flex-end;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 0 20px;
        text-align: right;
        .switch_button {
          margin: 0 30px 0 0;
        }
        .button_pull_down__wrapper {
          margin: 0 0 0 auto;
        }
      }

      &__inner {
        padding: 0 calc((100vw - 1200px) /2) 60px;
        margin: 0 auto;
        overflow: auto;
        .explore {
          display: flex;
        }
        .data {
          width: 100%;
          th {
            height: 40px;
            font-size: 1.4rem;
            color: $gray07;
            font-weight: 100;
            background: $blue04;
          }
          td {
            height: 40px;
            font-size: 1.4rem;
            color: $blue02;
            text-decoration: underline;
            text-align: center;
            border-bottom: 1px solid $gray06;
          }
        }
      }

      .drawing {
        display: flex;
        align-items: flex-start;
        margin: 0 13px 0 0;
        .item_first_heading {
          width: 196px;
          font-family: Oswald;
          font-weight: 700;
          color: $gray04;
          margin: 0 0 29px 56px;
          text-align: center;
          line-height: 24px;
          border-radius: 5px;
          border: 1px solid $gray01;
        }
        .item_first_count_heading {
          position: absolute  ;
          top: 2px;
          left: 195px;
          width: 55px;
          font-family: Oswald;
          color: $gray04;
          background-color: #ffffff;
          margin: 0 0 29px 60px;
          text-align: center;
          line-height: 20px;
          border-radius: 13px;
          border: 1px solid $gray01;
        }
        .item_wrapper {
          display: flex;
          flex-direction: column;
          .result_list {
            margin: 55px 0 0 60px;
            &.first {
              margin: 0 0 0 20px;
            }
            &__item {
              position: relative;
              display: flex;
              align-items: center;
              margin: 0 0 15px;
              &.hover {
                background: rgba(0, 0, 0, 0.8);
              }
            }
          }
          .label_list {
            margin: 55px 0 0 100px;
            &__item {
              position: relative;
              display: flex;
              align-items: center;
              font-size: 1.2rem;
              margin: 0 0 15px;
              &.hover {
                background: rgba(0, 0, 0, 0.8);
              }
              &__inner {
                position: relative;
                display: inline-block;
                align-items: center;
                justify-content: space-between;
                min-width: 100px;
                font-family: Oswald;
                text-align: center;
                padding: 0 6px;
                line-height: 16px;
                border-radius: 8px;
                background-color: $white;
              }
            }
          }
        }
        .result_wrapper {
          margin: 0 0 0 400px;
          li {
            display: flex;
            align-items: center;
            margin: 0 0 15px;
          }
        }

        .text {
          margin: 0 7px;
        }

        .total {
          font-family: Oswald;
          font-size: 1.2rem;
          color: $gray07;
          padding: 0 14px;
          line-height: 23px;
          border-radius: 12px;
          text-align: center;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          border: 1px solid $blue02;
          background: $white;
        }

        .action_icons {
          position: absolute;
          right: 0;
          top: 0;
          display: flex;
          justify-content: space-around;
          width: 300px;
          height: 40px;
          z-index: 10;
          align-items: center;
          border-radius: 5px;
          background: rgba(0, 0, 0, 0.8);
          &__item {
            width: 24px;
            height: 24px;
            border: none;
            border-radius: 50%;
            background: none;
            &:hover {
              background: $purple01;
            }
            svg {
              max-width: 14px;
              max-height: 14px;
            }
          }
        }
      }
    }
  }

  .database {
    padding: 31px 0 0;
    background: $gray03;
    &__top {
      margin: 0 0 30px;
      text-align: right;
      .input_search {
        display: inline-block;
      }
    }

    &__inner {
      width: 900px;
      margin: 0 auto;
    }
    &__index {
      padding-bottom: 20px;
      border-bottom: 1px solid $gray06;
      h3 {
        font-size: 1.6rem;
        margin-bottom: 5px;
      }
      a {
        color: $gray04;
        text-decoration: underline;
        font-weight: bold;
        margin-right: 10px;
      }
    }
    &__item {
      color: $gray04;
      padding: 19px 0 38px;
      border-bottom: 1px solid $gray06;
      &:last-child {
        border-bottom: none;
      }
      .title {
        margin: -40px 0 19px;
        padding-top: 40px;
        font-size: 1.8rem;
        span {
          background-color: $gray04;
          border-radius: 5px;
          color: $white;
          padding: 3px 14px 5px;
          border: 1px solid transparent;
        }
        .icon {
          width: 26px;
          margin: 0 6px 0 0;
          vertical-align: middle;
        }
      }
      .description,
      .path,
      .data {
        padding: 0;
      }
      .description {
        font-size: 1.4rem;
        margin: 0 0 30px;
        a {
          color: $gray04;
          text-decoration: underline;
        }
      }
      .path {
        display: flex;
        align-items: center;
        margin: 0 0 31px;
        .icon {
          width: 24px;
          margin: 0 8px 10px;
          path {
            fill: $blue01;
          }
        }
        .path_label {
          margin: 0 0 10px;
        }
        &__children {
          display: flex;
          flex-wrap: wrap;
          max-width: calc(100% - 110px);
          .path_label {
            margin: 0 10px 10px 0;
          }
        }
      }
      .data {
        &__wrapper {
          display: flex;
          justify-content: space-between;
          margin: 0 0 8px;
          dt {
            width: 80px;
            font-size: 1rem;
            color: $gray01;
            margin: 0 13px 0 0;
            text-align: right;
          }
          dd {
            width: calc(100% - 53px);
            font-size: 1.2rem;
            a {
              color: $gray04;
              font-weight: bold;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .documents{
    background: $gray03;
    padding: 20px 0;
    .select_lang{
      max-width: 900px;
      margin: 20px auto;
      padding: 0 20px;
    }
  }

}
