@charset "UTF-8";
.dropdown {
  height: 40px;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid $textColor01;
  background: url("../public/images/icon_select.png") no-repeat calc(100% - 19px) center/ 12px 6px;
}

.radio {
  &__label {
    position: relative;
    font-size: 1.2rem;
    color: $textColor01;
    padding: 0 0 0 31px;
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      content: '';
      width: 18px;
      height: 18px;
      transform: translateY(-50%);
      border-radius: 50%;
      border: 1px solid $gray01;
    }
  }
  &__input {
    &:checked {
      & + .radio__label {
        &:after {
          position: absolute;
          top: 50%;
          left: 3px;
          content: '';
          display: inline-block;
          width: 14px;
          height: 14px;
          transform: translateY(-50%);
          border-radius: 50%;
          background: $blue01;
        }
      }
    }
  }
}

.textarea {
  &__input {
    padding: 14px 21px;
    border-radius: 15px;
    border: none;
    background: $blueGray01;
    outline: none;
  }
}

.button_large {
  width: 120px;
  height: 40px;
  cursor: pointer;
  font-size: 1.2rem;
  color: $white;
  border-radius: 15px;
  border: 2px solid $blue02;
  background: transparent linear-gradient(180deg, $blue03 0%, $blue01 100%) 0 0 no-repeat padding-box;
}

.button_small {
  width: 120px;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.2rem;
  color: $white;
  border-radius: 10px;
  padding: 7px 10px;
  border: 2px solid $blue02;
  background: transparent linear-gradient(180deg, $blue03 0%, $blue01 100%) 0 0 no-repeat padding-box;
  &.white {
    border-color: $gray06;
    background: $white;
  }
  &.green {
    border: 1px solid $blue01;
    background: $green01;
  }
}

.button_more {
  display: block;
  width: 350px;
  height: 55px;
  font-size: 1.8rem;
  color: $gray04;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid $gray04;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: $white;
}

.button_tab {
  font-size: 1.4rem;
  font-family: Oswald;
  color: $gray02;
  padding: 11px 35px;
  border: none;
  border-bottom: 5px solid transparent;
  background: none;
  &.active {
    color: $textColor01;
    border-bottom: 5px solid $blue01;
  }
}

.button_pull_down {
  font-size: 1.4rem;
  color: $gray05;
  padding: 0 30px 0 0;
  border: none;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"><path fill="%23ACAEB2" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /></svg>') no-repeat right center;
  &.active {
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"><path fill="%23ACAEB2" d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" /></svg>') no-repeat right center;
  }
  &__wrapper {
    position: relative;
  }
  &__children {
    position: absolute;
    top: 32px;
    right: 3px;
    z-index: 10;
    min-width: 156px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    border: 1px solid $gray04;
    background: $white;
    &__item {
      display: block;
      width: 100%;
      height: 40px;
      text-align: left;
      border: none;
      border-bottom: 1px solid $gray04;
      background: none;
      &:last-child {
        border-bottom: none;
      }
      .icon {
        display: inline-block;
        max-width: 22px;
        max-height: 17px;
        padding-right: 4px;
        margin-top: -2px;
        vertical-align: middle;
        path {
          fill: $blue01;
        }
      }
    }
  }
}

.button_icon {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 1.4rem;
  color: $white;
  padding: 0 13px;
  margin-right: 12px;
  border-radius: 5px;
  border: none;
  background: $blue01;
  width: 25%;
  &__icon {
    width: 12px;
    margin: 0 6px 0 0;
    path {
      fill: $white;
    }
  }
}

.select {
  width: 148px;
  height: 22px;
  font-family: Oswald;
  font-size: 1.4rem;
  padding: 0 0 0 14px;
  border-radius: 5px;
  :focus:not(:focus-visible) {
    outline: none;
  }
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 5"><path d="M4.5,5,9,0H0Z" fill="%23C4C4C4" /></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 4px) center;
  background-size: 9px auto;
  &.green {
    border: 1px solid $blue01;
    background: $green01;
  }
  &.white {
    border: 1px solid $gray06;
    background-color: $white;
  }
}

.radio {
  position: relative;

  select {
    width: 100%;
    margin: 0;
  }

  .select {
    width: 200px;
  }

  &__large_label {
    display: inline-block;
    width: 300px;
    font-size: 1.2rem;
    color: $textColor02;
    line-height: 24px;
    text-align: center;
    border-radius: 5px;
    &.green {
      background: $green01;
    }
    &.purple {
      background: $purple01;
    }
    &.orange {
      background: $orange01;
    }

    &:before {
      position: absolute;
      top: 50%;
      right: -30px;
      display: inline-block;
      content: '';
      width: 18px;
      height: 18px;
      transform: translateY(-50%);
      border-radius: 50%;
      border: 1px solid $gray01;
      background: $white;
    }

    .dummy {
      position: absolute;
      top: 11px;
      right: -30px;
      display: block;
      width: 18px;
      height: 18px;
    }

    &__inner {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      padding: 8px 7px;
      color: #ffffff;
      .icon {
        position: absolute;
        top: 7px;
        left: 7px;
        width: 26px;
        height: 26px;
        overflow: hidden;
        border-radius: 50%;
      }
    }

    &.no_radio{
      &:before {
        display: none;
      }
    }
  }
  &__input {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    &:focus-visible {
      & + .radio__large_label {
        &:before {
          box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
        }
      }
    }
    &:checked {
      & + .radio__large_label {
        &:after {
          position: absolute;
          top: 50%;
          right: -27px;
          content: '';
          display: inline-block;
          width: 14px;
          height: 14px;
          transform: translateY(-50%);
          border-radius: 50%;
          background: $blue01;
        }
      }
    }
  }

  &__label {
    color: $gray07;
    cursor: pointer;
  }
  &__three_dots {
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    border: none;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"><path fill="%235A5A5A" d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z" /></svg>') no-repeat center center/ contain;
  }
  &.not_found {
    cursor: not-allowed;
    opacity: 0.6;
    .radio__large_label {
      cursor: not-allowed;
    }
  }
}

.checkbox {
  position: relative;
  &__large_label {
    display: inline-block;
    width: 190px;
    font-size: 1.2rem;
    color: $textColor02;
    margin: 0 0 0 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    &.green {
      background: $green01;
    }
    &.purple {
      background: $purple01;
    }
    &.orange {
      background: $orange01;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      content: '';
      width: 23px;
      height: 23px;
      transform: translateY(-50%);
      border-radius: 3px;
      border: 1px solid $gray01;
    }
  }
  &__input {
    display: none;
    &:checked {
      & + .checkbox__large_label {
        &:after {
          position: absolute;
          top: 50%;
          left: 4px;
          display: inline-block;
          content: '';
          width: 17px;
          height: 17px;
          transform: translateY(-50%);
          border-radius: 3px;
          background: $blue01;
        }
      }
    }
  }
}

.input_search {
  position: relative;
  &__icon {
    position: absolute;
    top: 50%;
    left: 8px;
    width: 24px;
    transform: translateY(-50%);
    path {
      fill: $gray08;
    }
  }
  &__input {
    height: 40px;
    padding: 0 0 0 40px;
    outline: none;
    border-radius: 5px;
    border: 1px solid $gray06;
  }
}

