@charset "UTF-8";
.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(64, 64, 64, 0.8);

  &--through {
    background: rgba(60, 60, 60, 0.5);
    &__close {
      position: relative;
      display: block;
      width: 14px;
      height: 14px;
      margin: 0 0 0 auto;
      transform: rotate(45deg);
      border: none;
      background: none;
      &:before,
      &:after {
        position: absolute;
        content: '';
        display: block;
        background: $gray08;
      }
      &:before {
        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        transform: translateX(-50%);
      }
      &:after {
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        transform: translateY(-50%);
      }
    }

    &__title {
      font-family: Oswald;
      font-size: 1.8rem;
      margin: 0 0 18px;
    }

    &__buttons {
      display: flex;
      align-items: center;
      margin: 0 0 29px;
      .path_label {
        margin: 0 0 10px;
      }
      .arrow {
        width: 24px;
        margin: 0 8px 10px;
        path {
          fill: $blue01;
        }
      }
      .path_children {
        display: flex;
        flex-wrap: wrap;
        max-width: calc(100% - 110px);
        .path_label {
          margin: 0 10px 10px 0;
        }
      }
    }

    &__description {
      font-size: 1.4rem;
      margin: 0 0 32px;
      line-height: lh_cal(21, 14);
    }

    &__data_list {
      &__item {
        display: flex;
        font-family: Oswald;
        margin: 0 0 7px;
        dt {
          width: 67px;
          font-size: 1.2rem;
          color: $gray01;
          margin: 0 13px 0 0;
          text-align: right;
        }
        dd {
          width: calc(100% - 80px);
          font-size: 1.4rem;
        }
      }
    }
  }

  &__inner {
    position: relative;
    width: 76%;
    max-height: 80vh;
    padding: 85px 0 80px;
    margin: 10vh auto;
    border-radius: 10px;
    background: $white;

    &--through {
      width: 50%;
      padding: 18px 20px 36px 40px;
      margin: 50vh auto 0;
      transform: translateY(-50%);
      border-radius: 5px;
    }
  }
  &__scroll_area {
    height: 100%;
    max-height: calc(80vh - 165px);
    padding: 0 40px;
    overflow: auto;
  }
  &__close {
    position: absolute;
    top: 36px;
    right: 21px;
    display: block;
    width: 34px;
    height: 34px;
    border: none;
    background: none;
    path {
      fill: $gray07;
    }
  }

  &__heading {
    font-size: 1.8rem;
    margin: 0 0 5px;
    color: $gray07;
  }
  .title {
    @include border_title;
    margin: 0 0 26px;
  }

  &__path {
    margin: 0 0 27px;
    &__frame {
      width: 100%;
      padding: 18px 0 19px 19px;
      overflow: auto;
      background: $gray03;
      &__inner {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .path_label {
          & + .path_label {
            position: relative;
            margin: 0 0 0 15px;
            &::before {
              position: absolute;
              top: 50%;
              left: -15px;
              content: '';
              display: inline-block;
              width: 15px;
              height: 1px;
              background: $gray06;
            }
          }
        }
      }
      &__item {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        & + .modal__path__frame__item {
          position: relative;
          margin: 0 0 0 15px;
          &::before {
            position: absolute;
            top: 50%;
            left: -15px;
            content: '';
            display: inline-block;
            width: 15px;
            height: 1px;
            background: $gray06;
          }
        }
      }
    }
  }

  &__top {
    margin: 0 0 15px;

    .include,
    .action {
      margin: 0 0 27px;
      &__inner {
        display: flex;
        .radio {
          margin: 0 24px 0 0;
        }
      }
    }

    .option {
      margin: 0 0 30px;
      .label {
        font-size: 1.4rem;
        color: $gray07;
        margin: 0 0 15px;
      }
    }
  }

  .non_forwarded {
    margin-bottom: 10px;
  }

  .showing {
    margin-top: 10px;
  }
  .table {
    margin: 0 0 40px;
    thead {
      th {
        height: auto;
        padding: 8px 26px;
      }
    }
    .buttons {
      display: flex;
      li {
        margin: 0 4px 0 0;
        & + li {
          &:before {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-left: 5px solid $gray07;
          }
        }
      }
    }
    .no_results {
      text-align: center;
    }
  }
}
